<template>
  <div class="app-form-field relative" :class="wrapClass">
    <label
      v-if="label"
      class="block flex items-center tracking-wide text-gray-600 text-sm font-bold mb-1 ml-1"
      :for="fieldId"
      v-html="label+asterisk"></label>
    <input
      :pattern="pattern"
      :required="required"
      :min="min"
      :max="max"
      :disabled="disabled"
      class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 py-1 px-2 outline-none rounded"
      :id="fieldId"
      :name="fieldId"
      :type="type"
      :value="value"
      @input="$emit('input', $event.target.value)"
      :placeholder="placeholder">
    <p v-if="error" class="text-red text-xs italic">{{$tr("Please fill out this field.")}}</p>
  </div>
</template>

<script>
export default {
  name: 'Input',

  props: {
    id: {
      type: String,
    },
    label: {
      type: String,
      required: false
    },
    type: {
      type: String,
      default: 'text'
    },
    value: {
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      default: false,
      required: false
    },
    min: {
      default: false,
      required: false
    },
    max: {
      default: false,
      required: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    pattern: {
      type: String,
      required: false
    },
    error: {
      type: String,
      required: false
    },
    wrapClass: {
      type: String,
      default: 'mb-2'
    },
  },

  data: () => ({}),

  computed: {
    asterisk() {
      return this.required ? `<span class="leading-none text-lg text-red-700">*</span>` : '';
    },

    fieldId() {
      return this.id || `form-field-${this._uid}`;
    }
  }
}
</script>
