<template functional>
  <label
    :class="props.labelClass || 'block tracking-wide text-gray-600 text-sm font-bold mb-1 ml-1'"
    :for="props.for">
    <span class="flex items-center">
      {{ props.label }}
      <span v-if="props.required" class="leading-none text-lg text-red-700">*</span>
    </span>

    <span v-if="props.info" :class="props.infoClass || 'block text-xs font-normal text-blue-400 mb-1'">{{ props.info }}</span>
  </label>
</template>
