<template>
  <div class="app-form-field relative" :class="wrapClass">
    <label
      v-if="label"
      class="block flex items-center tracking-wide text-gray-600 text-sm font-bold mb-1 ml-1"
      :for="id"
      v-html="label+asterisk"></label>

    <div class="relative">
      <select
        :required="required"
        :disabled="disabled"
        class="
          block truncate appearance-none w-full bg-gray-100
          border border-gray-500 text-gray-700 py-2 pl-3 pr-8 rounded"
        :id="id"
        :name="id"
        v-model="selected"
        @input="$emit('input', $event.target.value)">
        <option v-if="placeholder" disabled :value="0">- {{ placeholder }}</option>
        <option v-for="(opt, i) in options" :value="opt[optKey]" :key="id+i">{{ opt[optLabel] }}</option>
      </select>
      <div
        class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker select-angle"
        style="right: 5px;top: 50%; transform: translateY(-50%);">
        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#ffffff"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Select',

  props: {
    optKey: {
      type: String,
      default: 'value',
    },
    optLabel: {
      type: String,
      default: 'name',
    },
    required: {
      default: false,
      required: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      required: false
    },
    id: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    options: {
      type: Array,
      default: () => ([]),
    },
    value: {
      default: null
    },
    wrapClass: {
      default: 'mb-2'
    },
  },

  computed: {
    asterisk() {
      return this.required ? `<span class="leading-none text-lg text-flat-red">*</span>` : '';
    },

    selected: {
      get() {
        return this.value;
      },
      set(val) {
        return val;
      }
    }
  }
}
</script>

<style scoped lang="scss"s>
select {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

select:focus,
select:active,
select:hover {
  outline: none;
}
</style>
