<template>
  <div class="flex flex-col">
    <label :for="id" class="mt-3 inline-flex justify-between items-center cursor-pointer">
      <span v-if="label" class="mr-3 text-sm">{{ label }}</span>
      <span class="relative">
        <span class="block w-10 h-6 rounded-full shadow-inner" :class="bgColorCssClasses"></span>
        <span
          :class="stateCssClasses"
          class="absolute block w-4 h-4 mt-1 ml-1 bg-white rounded-full shadow inset-y-0 left-0 focus-within:shadow-outline transition-transform duration-300 ease-in-out">
          <input :id="id" type="checkbox" :name="id" :value="value" class="absolute opacity-0 w-0 h-0" @click="$emit('click')" />
        </span>
      </span>
    </label>
  </div>
</template>

<script>
import { randomStr } from '@/services/utils';

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: () => randomStr()
    },
    label: {
      type: String,
      default: '',
    },
    bgOff: {
      type: String,
      default: 'red',
    },
    bgOn: {
      type: String,
      default: 'green',
    }
  },

  computed: {
    bgColorCssClasses() {
      let onShade = this.bgOn === 'gray' ? 400 : 500;
      let offShade = this.bgOff === 'gray' ? 400 : 500;
      return {
        [`bg-${this.bgOn}-${onShade}`]: this.value,
        [`bg-${this.bgOff}-${offShade}`]: !this.value,
      }
    },

    stateCssClasses() {
      return {
        'app-toggle-field--off': !this.value,
        'app-toggle-field--on transform translate-x-full': this.value,
      }
    }
  },
}
</script>
