<template>
    <app-layout>
        <template #header>
            <h3 class="font-semibold text-sm text-gray-800 leading-tight">
                Edit User
            </h3>
        </template>

        <div class="lg:w-3/5 lg:mx-auto mt-8">
            <Card css-class="relative">
                <p v-if="success">success</p>
                    <LoadSpinner v-if="loading"></LoadSpinner>
                    <InputField id="name"
                        label="Display Name"
                        :required="true"
                        :value="form.name"
                        v-model="form.name"
                        wrapClass="my-3"/>
                    <jet-input-error v-if="hasErrors":message="errors.get('name')" class="mt-2" />

                    <InputField id="full_name"
                        label="Full Name"
                        required="true"
                        :value="form.full_name"
                        v-model="form.full_name"
                        wrapClass="my-3"/>
                    <jet-input-error v-if="hasErrors":message="errors.get('full_name')" class="mt-2" />

                    <InputField id="email"
                        label="Email"
                        type="email"
                        required="true"
                        :value="form.email"
                        v-model="form.email"
                        wrapClass="my-3"/>
                    <jet-input-error v-if="hasErrors":message="errors.get('email')" class="mt-2" />

                    <InputField id="phone"
                        label="Phone"
                        type="tel"
                        required="true"
                        :value="form.phone"
                        v-model="form.phone"
                        wrapClass="my-3"/>
                    <jet-input-error v-if="hasErrors":message="errors.get('phone')" class="mt-2" />

                    <div class="my-3">
                        <FieldLabel for="locale" :label="$tr('Select language')"/>
                        <vSelect id="locale"
                            v-model="form.locale"
                            :reduce="locale => locale.val"
                            :clearable="false"
                            :searchable="false"
                            :filterable="false"
                            :options="locales"/>
                    </div>

                    <div class="my-3">
                        <FieldLabel for="country" :required="true" label="Select country"/>
                        <vSelect id="country"
                                v-model="form.country"

                                v-if="countries"
                                label="country"
                                :clearable="false"
                                :searchable="false"
                                :filterable="false"
                                :options="countries"/>
                        <jet-input-error v-if="hasErrors":message="errors.get('country')" class="mt-2" />
                    </div>

                    <div class="my-3">
                    <FieldLabel for="timezone"
                        :required="true"
                        label="Select your timezone"
                        info="Choose your timezone to view available session times"/>
                        <vSelect id="timezone"
                                v-model="form.timezone"

                                v-if="timezones"
                                :reduce="timezone => timezone.zone"
                                label="label"
                                :options="timezones"
                                :clearable="false"
                                :searchable="false"
                                :filterable="false"
                                :required="!form.timezone"/>
                        <jet-input-error v-if="hasErrors":message="errors.get('timezone')" class="mt-2" />
                    </div>

                    <Button class="mt-3" @click.native="update">{{$tr('save')}}</Button>
            </Card>
        </div>
    </app-layout>
</template>

<script>
import AppLayout                from '@/Layouts/AppLayout';
import InputField               from '@/components/Form/Input';
import FieldLabel               from '@/components/Form/Label';
import LoadSpinner              from '@/components/LoadSpinner';
import JetInputError            from '@/Jetstream/InputError';
import vSelect                  from 'vue-select';
import FormErrors               from '@/services/FormErrors';

import { timezones, countries, uiLocales } from '@/services/utils';

export default {
    props: {},

    components: {
        AppLayout, InputField, vSelect,
        FieldLabel, LoadSpinner, JetInputError
    },

    data() {
        return {
            timezones: timezones,
            countries: countries,
            loading: false,
            errors: new FormErrors,
            success: false,
            form: {
                name: '',
                full_name: '',
                email: '',
                timezone: '',
                country: '',
                phone: '',
                locale: 'en',
            },
            locales: uiLocales,
        }
    },

    mounted() {},

    computed: {
        hasErrors() {
            return () => this.errors.has();
        }
    },

    methods: {
        async update() {
            this.loading = true;
            this.$inertia.post('/app/users', this.form);
            this.loading = false;
        }
    }
}
</script>
