<template>
  <app-layout>
        <template #header>
            <h3 class="font-semibold text-sm text-gray-800 leading-tight">
                Edit User
            </h3>
        </template>

<div class="lg:w-3/5 lg:mx-auto mt-8">
  <DialogModal :show="success">
    <template #content>
      <div class="text-xl bg-green-400 my-6 rounded px-6 py-4">User updated</div>
  </template>

  <template #footer>
      <div class="flex justify-between flex-col lg:flex-row">
        <DangerButton class="m-1" @click.native="success = false">{{ $tr('close') | upperc }}</DangerButton>
    </div>
</template>
</DialogModal>

<Card css-class="relative">
    <p v-if="success">success</p>
    <LoadSpinner v-if="loading"></LoadSpinner>
    <InputField id="name" label="Display Name" :required="true" :value="user_data.name" v-model="user_data.name" wrapClass="my-3"/>
    <jet-input-error v-if="hasErrors" :message="errors.get('name')" class="mt-2" />

    <InputField id="full_name" label="Full Name" required="true" :value="user_data.full_name" v-model="user_data.full_name" wrapClass="my-3"/>
    <jet-input-error v-if="hasErrors" :message="errors.get('full_name')" class="mt-2" />

    <InputField id="email" label="Email" type="email" required="true" :value="user_data.email" v-model="user_data.email" wrapClass="my-3"/>
    <jet-input-error v-if="hasErrors" :message="errors.get('email')" class="mt-2" />

    <InputField id="phone" label="Phone" type="tel" required="true" :value="user_data.phone" v-model="user_data.phone" wrapClass="my-3"/>
    <jet-input-error v-if="hasErrors" :message="errors.get('phone')" class="mt-2" />

    <div class="my-3">
      <FieldLabel for="locale" :label="$tr('Select language')"/>
      <vSelect id="locale"
      v-model="user_data.locale"
      :reduce="locale => locale.val"
      :clearable="false"
      :searchable="false"
      :filterable="false"
      :options="locales"/>
  </div>

  <div class="my-3">
      <FieldLabel for="country" :required="true" label="Select country"/>
      <vSelect id="country"
      v-model="user_data.country"
      v-if="countries"
      label="country"
      :clearable="false"
      :searchable="false"
      :filterable="false"
      :options="countries"/>
      <jet-input-error v-if="hasErrors" :message="errors.get('country')" class="mt-2" />
  </div>

  <div class="my-3">
      <FieldLabel for="timezone" :required="true" label="Select your timezone" info="Choose your timezone to view available session times"/>
      <vSelect id="timezone"
      v-model="user_data.timezone"
      :reduce="timezone => timezone.zone"
      :options="timezones"
      :clearable="false"
      :searchable="false"
      :filterable="false"
      :required="!user_data.timezone"/>
      <jet-input-error v-if="hasErrors" :message="errors.get('timezone')" class="mt-2" />
  </div>

  <Button class="mt-3" @click.native="update">UPDATE</Button>
</Card>
</div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import InputField from '@/components/Form/Input';
import FieldLabel from '@/components/Form/Label';
import LoadSpinner from '@/components/LoadSpinner';
import JetInputError from '@/Jetstream/InputError';
import vSelect from 'vue-select';
import { timezones, countries, uiLocales } from '@/services/utils';
import FormErrors from '@/services/FormErrors';

export default {
  props: {
    user_data: {
      type: '',
      required: true
  }
},

components: {
    AppLayout, InputField, vSelect,
    FieldLabel, LoadSpinner, JetInputError
},

data() {
    return {
      timezones: timezones,
      countries: countries,
      loading: false,
      errors: new FormErrors,
      success: false,
      locales: uiLocales,
  }
},

mounted() {

},

computed: {
    hasErrors() {
      return () => this.errors.has();
  }
},

methods: {
    async update() {
      this.loading = true;
      try {
        const { data } = await axios.put(`/app/users/${this.user_data.id}`, this.user_data);
        this.success = true;
        this.errors.reset();
        this.loading = false;
    } catch(err) {
        this.errors.build(err);
        this.loading = false;
    }
}
}
}
</script>
