<template>
  <app-layout>
        <template #header>
            <div class="flex flex-col lg:flex-row justify-between items-center">
                <h3 class="font-semibold text-sm text-gray-800 leading-tight">Users</h3>
                <Button @click.native="createUser">{{$tr('Create user') | upperc}}</Button>
            </div>
        </template>

        <div v-if="$page.flash.success" class="flex flex-col items-center rounded w-11/12 lg:w-4/6 my-4 mx-auto px-4 py-4 text-white bg-green-400 border-2 border-green-500">
            <p>{{$page.flash.message.text}}</p>
            <p>{{$page.flash.message.email}}</p>
            <p>{{$page.flash.message.index}}</p>
        </div>

        <div class="flex flex-col lg:flex-row mt-8 flex-wrap">
            <div v-for="user in users" :key="user.id" class="lg:w-5/12 px-10 m-4 py-6 bg-white rounded-lg shadow-md">
                <div class="flex justify-between lg:flex-row flex-col">
                    <div>
                        <p class="font-bold"><i class="ti-user text-appBrand"></i> {{user.full_name}}</p>
                        <p><i class="ti-email text-appBrand"></i> {{user.email}}</p>
                        <p><i class="ti-mobile text-appBrand"></i> {{user.phone}}</p>
                    </div>
                    <div class="flex flex-col mt-4 lg:mt-0">
                        <a class="my-2 font-bold border-b"
                            :href="route('app.users.edit', { id: user.id })"
                            :active="$page.currentRouteName == 'app.users.edit'">
                            <i class="ti-pencil"></i> Edit
                        </a>
                        <a class="my-1 font-bold border-b mt-2"
                            :href="route('appointments.availability.schedule', { id: user.id })"
                            :active="$page.currentRouteName == 'app.users.edit'">
                            <i class="ti-timer"></i> {{ $tr('Set Appointment') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';

export default {
  props: {
    users: {
      type: '',
      required: true
    },
  },

  components: {
    AppLayout
  },

  created() {},

  methods: {
      createUser() {
          this.$inertia.get(route('app.users.create'));
      }
  }
}
</script>
