<template>
<app-layout-new>

  <div>
      dfsdfsdfsdf
  </div>

</app-layout-new>
</template>


<script>
import AppLayoutNew from '@/Layouts/AppLayoutNew';

export default {
  components: {
    AppLayoutNew
  }
};
</script>
