<template>
  <app-layout>
    <template #header>
      <h3 class="font-semibold text-sm text-gray-800 leading-tight">
        {{ $tr("appointment_payment") }}
      </h3>
    </template>

    <div class="w-11/12 lg:w-1/2 mx-auto">
      <Card>
        <LoadSpinner v-if="loading"/>
        <div>
          <div class="p-3 m-2 rounded bg-red-200">
            <p>{{ $tr("Payment failed!") }}</p>
            <p class="text-xm">({{ $tr("Transaction code") }} {{session}})</p>
            <p>Something went wrong during your payment.</p>
            <p>If you were charged please contact us.</p>
          </div>
          <div class="p-3">
            <button type="button" @click="goto" class="text-white text-sm bg-gray-800 px-3 py-2 mt-4 rounded">
              {{ $tr("Back to appointment calendar") }}
            </button>
          </div>
        </div>
      </Card>
    </div>

  </app-layout>
</template>


<script>
import AppLayout         from '@/Layouts/AppLayout'
import LoadSpinner       from '@/components/LoadSpinner';

export default {
  props: ['session', 'appointment'],

  components: {
    AppLayout, LoadSpinner
  },

  data() {
    return {
      loading: false,
    }
  },

  mounted() {},

  //------------------------------------------------
  // Methods
  methods: {
    toFullDate(date) {
      return moment(date).format('DD MMM, YYYY - HH:mm');
    },

    goto() {
      this.$inertia.visit(route('appointments.book'));
    },
  }
}
</script>
