<template>
    <app-layout>
        <template #header>
            <h3 class="font-semibold text-sm text-gray-800 leading-tight">
                Edit User
            </h3>
        </template>

        <div class="lg:w-3/5 lg:mx-auto mt-8">
            <Card css-class="relative">
                <LoadSpinner v-if="loading"></LoadSpinner>

                <InputField
                    id="admin_email"
                    label="Admin email"
                    :required="true"
                    v-model="settings.admin_email"
                    wrapClass="my-3"/>
                <jet-input-error v-if="hasErrors" :message="errors.get('admin_email')" class="mt-2" />

                <InputField
                    id="appointment_price"
                    label="Appointment Price (in cents, eg enter 100 for 1 euro)"
                    required="true"
                    v-model="settings.appointment_price"
                    wrapClass="my-3"/>
                <jet-input-error v-if="hasErrors" :message="errors.get('appointment_price')" class="mt-2" />

                <InputField
                    id="product_id"
                    label="Stripe product id"
                    required="true"
                    v-model="settings.product_id"
                    wrapClass="my-3"/>
                <jet-input-error v-if="hasErrors" :message="errors.get('product_id')" class="mt-2" />

                <InputField
                    id="product_id_test"
                    label="Stripe test product id"
                    required="true"
                    v-model="settings.product_id_test"
                    wrapClass="my-3"/>
                <jet-input-error v-if="hasErrors" :message="errors.get('product_id_test')" class="mt-2" />

                <div class="my-3">
                    <FieldLabel
                        for="admin_timezone"
                        :required="true"
                        label="Select admin timezone" info="Choose admin timezone for notifications"/>
                        <vSelect id="admin_timezone"
                        v-model="settings.admin_timezone"
                        :reduce="timezone => timezone.zone"
                        :options="timezones"
                        :clearable="false"
                        :searchable="false"
                        :filterable="false"
                        :required="!settings.admin_timezone"/>
                    <jet-input-error v-if="hasErrors" :message="errors.get('admin_timezone')" class="mt-2" />
                </div>

                <Button class="mt-3" @click.native="update">UPDATE</Button>
            </Card>
        </div>
    </app-layout>
</template>

<script>
// @todo Settings for viva payment creds
import vSelect from 'vue-select';

import AppLayout        from '@/Layouts/AppLayout';
import InputField       from '@/components/Form/Input';
import FieldLabel       from '@/components/Form/Label';
import LoadSpinner      from '@/components/LoadSpinner';
import JetInputError    from '@/Jetstream/InputError';
import FormErrors       from '@/services/FormErrors';

import { timezones } from '@/services/utils';

export default {
    props: {
      settings: {
        type: Array|Object,
        default: null,
      }
    },

    components: {
        AppLayout, InputField, vSelect,
        FieldLabel, LoadSpinner, JetInputError
    },

    data() {
        return {
            timezones: timezones,
            loading: false,
            errors: new FormErrors,
            success: false,
            // settings: {
            //     admin_email: this.$page.admin_email,
            //     admin_timezone: this.$page.admin_timezone,
            //     appointment_price: this.$page.appointment_price,
            // }
        }
    },

    mounted() {

    },

    computed: {
        hasErrors() {
            return () => this.errors.has();
        }
    },

    methods: {
        async update() {
            this.loading = true;
            try {
                const { data } = await axios.patch(`/settings`, this.settings);
                this.success = true;
                this.errors.reset();
                this.loading = false;
                this.$notify({
                    title: this.$tr('Settings updated!'),
                });
            } catch(err) {
                this.errors.build(err);
                this.loading = false;
                this.$notify({
                    title: this.$tr('Something went wrong'),
                    type: 'error'
                });
            }
        }
    }
}
</script>
