<template>
  <div>
    <stripe-checkout
      ref="checkoutRef"
      mode="payment"
      :pk="publishableKey"
      :line-items="lineItems"
      :success-url="successURL"
      :cancel-url="cancelURL"
      @loading="v => loading = v"
    />
    <button @click="submit">Pay now!</button>
  </div>
</template>

<script>
import { StripeCheckout } from '@vue-stripe/vue-stripe';

export default {
  components: {
    StripeCheckout,
  },
  data () {
    this.publishableKey = process.env.MIX_STRIPE_KEY;
    return {
      loading: false,
      lineItems: [
        {
          price: 'price_1IqhnaCR8LjomPjSq7UQh00x', // set on stripe admin
          quantity: 1,
        },
      ],
      successURL: 'https://thc.test/tests/stripepay/success',
      cancelURL: 'https://thc.test/tests/stripepay/cancel',
    };
  },
  methods: {
    submit () {
      // You will be redirected to Stripe's secure checkout page
      this.$refs.checkoutRef.redirectToCheckout();
    },
  },
};
</script>
