<template>
  <app-layout>
    <template #header>
      <h3 class="font-semibold text-sm text-gray-800 leading-tight">
        {{ $tr("Availability") }}
      </h3>
    </template>

    <div>
      <div class="mx-auto py-10 sm:px-6 lg:px-8 relative">
        <DialogModal :show="errorModal">
          <template #content>
            <div class="p-2 rounded bg-red-400 text-xl">
              Selected date is already scheduled or pending for payment
            </div>
          </template>

          <template #footer>
            <DangerButton class="m-1" @click.native="errorModal = false">{{ $tr('close') | upperc }}</DangerButton>
          </template>
        </DialogModal>

        <LoadSpinner v-if="loading"></LoadSpinner>

        <Card>
          <!-- Calendar Toolbar -->
          <div class="app-calendar-toolbar p-2 bg-gray-100 rounded">
            <div class="app-calendar-toolbar-item app-calendar-toolbar-left relative">

              <date-pick class="absolute" v-model="date" @input="onDatePickSelect" ref="datePickBtn" :isDateDisabled="disabledDatePickerDates">
                <template v-slot:default="{toggle, inputValue}"><i></i></template>
              </date-pick>

              <Button class="mr-2" @click.native.stop="openDatepicker"><i class="ti-calendar"></i></Button>
              <select
                class="block w-full bg-white border border-gray-400 hover:border-gray-500 px-2 py-1 leading-tight rounded-sm focus:outline-none focus:shadow-outline"
                @click="changeCalendarView($event.target.value)">
                <option value="timeGridDay">{{ $tr('day') | uppercf }}</option>
                <option value="timeGridWeek">{{ $tr('week') | uppercf }}</option>
              </select>
            </div>

            <div class="app-calendar-toolbar-item app-calendar-toolbar-center my-2">
              <p class="font-bold text-gray-700 border-b border-blue-800">{{selectedCalDate}}</p>
            </div>

            <div class="app-calendar-toolbar-item app-calendar-toolbar-right">
              <Button class="mr-2" @click.native.stop="pageCalendar(0)"><i class="ti-angle-left"></i></Button>
              <Button @click.native.stop="pageCalendar(1)"><i class="ti-angle-right"></i></Button>
            </div>
          </div>

          <FullCalendar
            ref="calendar"
            height="auto"
            :options="calendarOpts"/>
        </Card>
      </div>
    </div>
  </app-layout>
</template>

<script>
import FullCalendar         from '@fullcalendar/vue';
import timeGridPlugin       from '@fullcalendar/timegrid';
import interactionPlugin    from '@fullcalendar/interaction';
import DatePick             from 'vue-date-pick';

import AppLayout            from '@/Layouts/AppLayout';
import LoadSpinner          from '@/components/LoadSpinner';

import 'vue-date-pick/dist/vueDatePick.css';

export default {

  //------------------------------------------------
  // Components
  components: {
  AppLayout, FullCalendar, DatePick,
  LoadSpinner,
  },

  //------------------------------------------------
  // Props
  props: {
    timeslots: {
      type: '',
      required: true,
      default: null
    },

    appointments: {
      type: '',
      required: true,
      default: null
    }
  },

  //------------------------------------------------
  // Data
  data() {
    return {
      date: '',
      calApi: null,
      errorModal: false,
      loading: false,
    }
  },

  //------------------------------------------------
  // Lifecycle hooks
  beforeMount() {},
  beforeCreate() {},

  created() {},

  mounted() {
    this.calApi = this.$refs.calendar.getApi();
    window.addEventListener('resize', this.changeCalendarView);
    this.firstAvailableAppointmentDate();
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.changeCalendarView);
  },

  //------------------------------------------------
  // Computed
  computed: {
  selectedCalDate() {
    if(this.calApi)
      return this.calApi.view.title;
  },

  computedAppointments: {
    set(data) {
      return data;
    },
    get() {
      return this.appointments;
    }
  },

  calendarOpts() {
    return {
      plugins: [ timeGridPlugin, interactionPlugin ],
      headerToolbar: { left: '', center: '', right: '' },
      events: this.computedAppointments,
      disableDragging: true,
      allDaySlot: false,
      selectable: true,
      selectOverlap: false,
      initialView: 'timeGridWeek',
      contentHeight: 'auto',
      expandRows: true,
      weekends: false,
      slotDuration: '01:00:00',
      slotMinTime: '08:00:00',
      slotMaxTime: '20:00:00',
      eventTimeFormat: { hour: '2-digit', minute: '2-digit', hour12: false },
      validRange: { start: new Date() },
      eventDidMount: this.eventRender,
      eventClick: this.eventClick,
      dateClick: (info) => this.onCalendarDateClick(info),
    }
  }
  },

  //------------------------------------------------
  // Methods
  methods: {
    firstAvailableAppointmentDate() {
      if(this.appointments[0]) {
        // let start = DateTime.fromJSDate(info.event.start).toFormat('HH:mm')
        this.calApi.gotoDate(this.appointments[0].start);
      }
    },

    async eventClick(info) {
      this.loading = true;
      try {
        await axios.post('/appointments/availability/remove', { date: info.event.start });
        info.event.remove();
        this.$notify({
          title: 'Availability removed',
          type: 'error',
          duration: 3000
        });
        this.loading = false;
      } catch(err) {
        console.dir(err);
        this.errorModal = true;
        this.loading = false;
      }
    },

    eventRender(info) {
      let start = moment(info.event.start).tz(this.$page.user.timezone).format('HH:mm');
      info.el.innerHTML = `
        <div class="thc-timeslot thc-timeslot-book text-xl text-black-700 rounded">
          <span class="flex items-center font-bold">
            <i class="ti-time text-blue-900 text-lg font-bold mx-2 inline-block"></i>
            ${start}
          </span>
        </div>
      `;
    },

    async onCalendarDateClick(info) {
      try {
        this.loading = true;

        await axios.post('/appointments/availability', { date: info.date });

        this.calApi.addEvent({
          id: moment(info.date).format('x'),
          title: 'Available appointment',
          start: info.date,
          classNames: 'app-timeslot-status-available',
        });

        this.loading = false;

        this.$notify({
          title: 'Availability added',
          duration: 3000
        });
      } catch(err) {
        console.dir(err);
        this.errorModal = true;
        this.loading = false;
      }
    },

    onDatePickSelect(date) {
      if(date) {
        this.calApi.gotoDate(date);
      }
    },

    disabledDatePickerDates(date) {
      const currentDate = new Date();
      return date < currentDate;
    },

    openDatepicker() {
      this.$refs.datePickBtn.open();
    },

    changeCalendarView(view) {
      if(typeof view === 'string') {
        this.calApi.changeView(view);
      }
      else {
        if(this.$refs.calendar) {
          if(window.innerWidth < 1200) {
            this.calApi.changeView('timeGridDay');
          }
          else {
            this.calApi.changeView('timeGridWeek');
          }
        }
      }
    },

    pageCalendar(dir) {
      dir ? this.calApi.next() : this.calApi.prev();
    },
  }
}
</script>

<style scoped>
/deep/ .fc-media-screen .fc-timegrid-event {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/deep/ .fc .fc-timegrid-slot {
  height: 3.5rem;
  padding: 0;
  border-bottom: 0 /* each cell owns its top border */;
}

/deep/ .fc-timegrid-event {
  font-size: 1rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
/deep/ .app-timeslot-status-scheduled .thc-timeslot.thc-timeslot-book,
/deep/ .app-timeslot-status-pending .thc-timeslot.thc-timeslot-book,
/deep/ .app-timeslot-status-completed .thc-timeslot.thc-timeslot-book,
/deep/ .app-timeslot-status-rescheduled .thc-timeslot.thc-timeslot-book {
  background: #e02424;
  color: white;
}
</style>
