<template>
  <app-layout>
    <template #header>
      <h3 class="font-semibold text-sm text-gray-800 leading-tight">
        {{ $tr("Appointment Calendar") }}
      </h3>
    </template>

    <div>
      <DialogModal :show="showModal">
        <template #content>
        <stripe-checkout
          v-if="lineItems"
          ref="checkoutRef"
          mode="payment"
          :pk="publishableKey"
          :line-items="lineItems"
          :success-url="successURL"
          :cancel-url="cancelURL"
        />
        <div class="p-2 rounded bg-gray-100" v-if="selectedSession">
          <p class="m-1">
            {{ $tr("Schedule an appointment for") }}<br><strong>{{ parseDate(selectedSession.start) }}</strong>
          </p>
          <p class="m-1">
            {{ $tr('price') | uppercf }} <span class="font-bold">&euro;{{$page.appointment_price / 100}}</span>
          </p>
        </div>
        </template>

        <template #footer>
          <div class="flex flex-col lg:flex-row items-center justify-between">
            <Button @click.native="sendOrderStripe" class="m-2">{{$tr('pay') | upperc}}</Button>
            <DangerButton class="m-2" @click.native="closeModal">{{$tr('cancel') | upperc }}</DangerButton>
          </div>
        </template>
      </DialogModal>

      <div v-if="!$page.user.profile_complete" class="mx-auto py-10 sm:px-6 lg:px-8 text-center">
        <Card>
          <p class="my-4">{{$tr("Please fill out your profile information before booking an appointment.")}}</p>
          <Button @click.native="$inertia.get(route('profile.show'))">{{$tr('Go to profile') | upperc }}</Button>
        </Card>
      </div>

      <div class="mx-auto py-10 sm:px-6 lg:px-8" v-else>
        <Card>
          <!-- Calendar Toolbar -->
          <div class="app-calendar-toolbar p-2 bg-gray-100 rounded">
            <div class="app-calendar-toolbar-item app-calendar-toolbar-left relative">
              <date-pick class="absolute" v-model="date" @input="onDatePickSelect" ref="datePickBtn" :isDateDisabled="disabledDatePickerDates">
                <template v-slot:default="{toggle, inputValue}"><i></i></template>
              </date-pick>
              <Button class="mr-2" @click.native.stop="openDatepicker"><i class="ti-calendar"></i></Button>
              <select
                class="block w-full bg-white border border-gray-400 hover:border-gray-500 px-2 py-1 leading-tight rounded-sm focus:outline-none focus:shadow-outline"
                @click="changeCalendarView($event.target.value)">
                <option value="dayGridDay">{{ $tr('day') | uppercf }}</option>
                <option value="listWeek">{{ $tr('week') | uppercf }}</option>
                <option value="dayGridMonth">{{ $tr('month') | uppercf }}</option>
              </select>
            </div>
            <div class="app-calendar-toolbar-item app-calendar-toolbar-center my-2">
              <p class="font-bold text-gray-700 border-b border-blue-800">{{selectedCalDate}}</p>
            </div>
            <div class="app-calendar-toolbar-item app-calendar-toolbar-right">
              <Button class="mr-2" @click.native.stop="pageCalendar(0)"><i class="ti-angle-left"></i></Button>
              <Button @click.native.stop="pageCalendar(1)"><i class="ti-angle-right"></i></Button>
            </div>
          </div>
          <!-- // Calendar Toolbar -->

          <!-- Calendar -->
          <FullCalendar
            v-if="appointments"
            ref="calendar"
            height="auto"
            :options="calendarOpts"/>
          <p v-if="!appointments">{{ $tr("No appointments available") }}</p>
        </Card>
      </div>
    </div>
  </app-layout>
</template>

<script>
import DatePick          from 'vue-date-pick'
import FullCalendar      from '@fullcalendar/vue';
import dayGridPlugin     from '@fullcalendar/daygrid';
import listPlugin        from '@fullcalendar/list';
import interactionPlugin from '@fullcalendar/interaction';
import timeGridPlugin    from '@fullcalendar/timegrid';
import AppLayout         from '@/Layouts/AppLayout';
import { removeAccs, genv }    from '@/services/utils';
//import { DateTime } from "luxon";
import { StripeCheckout } from '@vue-stripe/vue-stripe';

import 'vue-date-pick/dist/vueDatePick.css';

export default {

  //------------------------------------------------
  // Components
  components: {
    AppLayout, FullCalendar, DatePick, StripeCheckout
  },

  //------------------------------------------------
  // Props
  props: {
    appointments: {
      type: Array,
      required: true,
      defalt: null
    },

    settings: {
      type: Object,
      default: null,
    }
  },

  //------------------------------------------------
  // Data
  data: () => ({
    date: '',
    showModal: false,
    selectedSession: null,
    calApi: null,
    calendarStartDate: null,
    publishableKey: process.env.MIX_STRIPE_KEY,
    lineItems: [],
    successURL: null,
    cancelURL: null,
    sessionId: null
  }),

  //------------------------------------------------
  // Lifecycle hooks
  beforeMount() {},
  beforeCreate() {},

  created() {
    // var dt = DateTime.fromISO(event.start._date.toISOString());
    // var dx = dt.plus({hours:1});
  },

  mounted() {
    if(this.$page.user.profile_complete) {
      this.calApi = this.$refs.calendar.getApi();
      window.addEventListener('resize', this.changeCalendarView);
      this.firstAvailableAppointmentDate();
    }
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.changeCalendarView);
  },

  //------------------------------------------------
  // Computed
  computed: {
    selectedCalDate() {
      if(this.calApi)
        return this.calApi.view.title;
    },

    calendarAppointments() {
      return this.appointments;
    },

    calendarOpts() {
      return {
        plugins: [ dayGridPlugin, listPlugin ],
        headerToolbar: { left: '', center: '', right: '' },
        initialView: this.calendarView(),
        contentHeight: 'auto',
        expandRows: true,
        weekends: false,
        slotDuration: '01:00:00',
        eventTimeFormat: { hour: '2-digit', minute: '2-digit', hour12: false },
        events: this.appointments,
        eventDidMount: this.eventRender,
        eventClick: this.eventClick,
        noEventsContent: this.$tr('no_ssessions_available_for_booking'),
      }
    }
  },

  //------------------------------------------------
  // Methods
  methods: {
    parseDate(date) {
      return moment(date).tz(this.$page.user.timezone).format('dddd, DD-MM-YYYY - HH:mm');
    },

    openDatepicker() {
      this.$refs.datePickBtn.open();
    },

    closeModal() {
      this.showModal = false;
    },

    firstAvailableAppointmentDate() {
      if(this.appointments[0]) {
        // let start = DateTime.fromJSDate(info.event.start).toFormat('HH:mm')
        this.calApi.gotoDate(this.appointments[0].start);
      }
    },

    calendarView() {
      return window.innerWidth < 1200 ? 'listWeek' : 'dayGridWeek';
    },

    selectCalendarView(evt) {
      this.calApi.changeView(evt.target.value);
    },

    pageCalendar(dir) {
      dir ? this.calApi.next() : this.calApi.prev();
    },

    changeCalendarView(view) {
      if(typeof view === 'string') {
        this.calApi.changeView(view);
      }
      else {
        if(this.$refs.calendar) {
            if(window.innerWidth < 1200) {
              this.calApi.changeView('listWeek');
          }
          else {
            this.calApi.changeView('dayGridWeek');
          }
        }
      }
    },

    onDatePickSelect(date) {
      if(date) {
        this.calApi.gotoDate(date);
      }
    },

    disabledDatePickerDates(date) {
      const currentDate = new Date();
      return date < currentDate;
    },

    eventClick(evt) {
      this.selectedSession = evt.event;
      this.showModal = true;
    },

    eventRender(info) {
      let start = moment(info.event.start).tz(this.$page.user.timezone).format('HH:mm');
      info.el.innerHTML = `<span class="thc-timeslot thc-timeslot-book flex items-center text-xl"><i class="ti-time text-blue-900 text-lg font-bold mx-2 inline-block"></i> ${start}<span>`;
    },

    closeModal() {
      this.showModal = false;
      this.selectedSession = null;
    },

    async sendOrderStripe() {
      this.loading = true;
      try {
        const {data} = await axios.post('/payment/stripe', {
          date: this.selectedSession.start,
          user_id: this.$page.user.id,
        });

        if(data.appointment) {
          this.lineItems = [
            {
              price: process.env.MIX_STRIPE_PRODUCT_ID, // set on stripe admin
              quantity: 1,
            },
          ];
          this.successURL = `${process.env.MIX_APP_URL}/appointment/payment/stripe/success?u=${data.user}&a=${data.appointment}`;
          this.cancelURL = `${process.env.MIX_APP_URL}/appointment/payment/stripe/cancel?u=${data.user}&a=${data.appointment}`;

          this.$refs.checkoutRef.redirectToCheckout();
        }
      } catch(err) {
        this.loading = false;
        this.$notify({
          title: 'Something went wrong. Please try again',
          type: 'error',
          duration: 6000
        });
      }
    },

    async sendOrder_viva() {
      this.loading = true;
      try {
        // const { data } = await this.$api.paySession({user_id: this.user.id, date: this.selectedSession.start});
        const {data} = await axios.post('/viva/orders', {
          date: this.selectedSession.start,
          user_id: this.$page.user.id
        });
        if(data.Success) {
          // @todo Move MIX to app settings db
          let tpath = process.env.MIX_VIVAP_NEW_TRANSACTION_URL+'?ref='+data.OrderCode;
          window.location.replace(tpath);
        }
      else {
        this.loading = false;
        this.closeModal();
        this.$notify({
          title: 'Something went wrong. Please try again',
          type: 'error',
          duration: 6000
        });
      }
      } catch(err) {
        this.loading = false;
        this.closeModal();
        this.$notify({
          title: 'Something went wrong. Please refresh the page to get updated sessions for booking.',
          type: 'error',
          duration: 6000
        });
      }
    },
  }
}
</script>
