<template>
  <app-layout>
    <template #header>
      <h3 class="font-semibold text-sm text-gray-800 leading-tight">
        {{$tr("Appointments")}}
      </h3>
    </template>

    <div>
      <DialogModal :show="showModal">
        <template #title class="font-bold">
          <div class="flex items-center justify-between">
            <h3 class="font-bold">{{ $tr('appointment_info') | uppercf }}</h3>
            <DangerButton class="m-1" @click.native="closeModal">X</DangerButton>
          </div>
          <hr class="my-1 border-gray-300">
        </template>

        <template #content>
          <div class="p-2 rounded bg-gray-100" v-if="selectedAppointment">
            <p class="flex items-center">
              <i class="ti-time text-blue-500 mr-1 inline-block"></i>
              {{toFullDate(selectedAppointment.start)}}
            </p>
            <p><i class="ti-user text-blue-500"></i> {{selectedAppointment.extendedProps.user.full_name}}</p>
            <p><i class="ti-email text-blue-500"></i> {{selectedAppointment.extendedProps.user.email}}</p>
            <p><i class="ti-mobile text-blue-500"></i> {{selectedAppointment.extendedProps.user.phone}}</p>
          </div>
        </template>

        <template #footer>
          <div class="flex justify-between flex-col lg:flex-row" v-if="selectedAppointment">
              <Button class="m-2" @click.native="gotoRoomPreview">{{ $tr('appointment_room') | upperc }}</Button>
              <OutlineButton class="m-2" type="button" @click.native="markAppointmentComplete(selectedAppointment)">{{$tr('complete_appointment') | upperc }}</OutlineButton>
              <OutlineButton class="m-2" type="button" @click.native="reschedule">{{ $tr('reschedule_appointment') | upperc }}</OutlineButton>
              <DangerButton class="m-2" @click.native="cancelPopup = !cancelPopup">{{ $tr('cancel_appointment') | upperc }}</DangerButton>
          </div>
          <div v-if="cancelPopup">
            <div class="flex items-center flex-col mt-2">
              <button type="button" @click="cancelAppointment" class="m-6 hover:text-red-600">Cancel appointment but leave it available for booking?</button>
              <button type="button" @click="deleteAppointment" class="hover:text-red-600">Cancel appointment and delete availability?</button>
            </div>
          </div>
        </template>
      </DialogModal>

      <div class="mx-auto py-10 sm:px-6 lg:px-8">
        <Card>

          <!-- Calendar Toolbar -->
          <div class="app-calendar-toolbar p-2 bg-gray-100 rounded">
            <div class="app-calendar-toolbar-item app-calendar-toolbar-left relative">
              <date-pick class="absolute" v-model="date" @input="onDatePickSelect" ref="datePickBtn" :isDateDisabled="disabledDatePickerDates">
                <template v-slot:default="{toggle, inputValue}"><i></i></template>
              </date-pick>
              <Button class="mr-2" @click.native.stop="openDatepicker"><i class="ti-calendar"></i></Button>
              <select
                class="block w-full bg-white border border-gray-400 hover:border-gray-500 px-2 py-1 leading-tight rounded-sm focus:outline-none focus:shadow-outline"
                @click="changeCalendarView($event.target.value)">
                <option value="dayGridDay">{{ $tr('day') | uppercf }}</option>
                <option value="listWeek">{{ $tr('week') | uppercf }}</option>
                <option value="dayGridMonth">{{ $tr('month') | uppercf }}</option>
              </select>
            </div>
            <div class="app-calendar-toolbar-item app-calendar-toolbar-center my-2">
              <p class="font-bold text-gray-700 border-b border-blue-800">{{selectedCalDate}}</p>
            </div>
            <div class="app-calendar-toolbar-item app-calendar-toolbar-right">
              <Button class="mr-2" @click.native.stop="pageCalendar(0)"><i class="ti-angle-left"></i></Button>
              <Button @click.native.stop="pageCalendar(1)"><i class="ti-angle-right"></i></Button>
            </div>
          </div>

          <!-- Calendar -->
          <FullCalendar
            v-if="appointments"
            ref="calendar"
            height="auto"
            :options="calendarOpts"/>
          <p v-if="!appointments">No appointments available</p>
        </Card>
      </div>
    </div>
  </app-layout>
</template>

<script>
import DatePick          from 'vue-date-pick';
import FullCalendar      from '@fullcalendar/vue';
import dayGridPlugin     from '@fullcalendar/daygrid';
import listPlugin        from '@fullcalendar/list';
import interactionPlugin from '@fullcalendar/interaction';
import timeGridPlugin    from '@fullcalendar/timegrid';
import AppLayout         from '@/Layouts/AppLayout';

import { removeAccs }    from '@/services/utils';
//import { DateTime } from "luxon";

import 'vue-date-pick/dist/vueDatePick.css';

export default {

  //------------------------------------------------
  // Components
  components: {
    AppLayout, FullCalendar, DatePick
  },

  //------------------------------------------------
  // Props
  props: {
    appointments: {
      type: Array,
      required: true,
      defalt: null,
    },
    completed: {
      default: false,
    },
  },

  //------------------------------------------------
  // Data
  data: () => ({
    date: '',
    showModal: false,
    selectedAppointment: null,
    calApi: null,
    cancelPopup: false,
    cancelModal: false,
  }),

  //------------------------------------------------
  // Lifecycle hooks
  beforeMount() {},
  beforeCreate() {},

  created() {
    // @todo Change moment to luxon
    // var dt = DateTime.fromISO(event.start._date.toISOString());
    // var dx = dt.plus({hours:1});
  },

  mounted() {
    this.calApi = this.$refs.calendar.getApi();
    window.addEventListener('resize', this.changeCalendarView);
    this.firstAvailableAppointmentDate();
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.changeCalendarView);
  },

  //------------------------------------------------
  // Computed
  computed: {
    selectedCalDate() {
      if(this.calApi)
        return this.calApi.view.title;
    },

    calendarAppointments() {
      return this.appointments;
    },

    calendarOpts() {
      return {
        plugins: [ dayGridPlugin, listPlugin ],
        headerToolbar: { left: '', center: '', right: '' },
        initialView: this.calendarView(),
        contentHeight: 'auto',
        expandRows: true,
        weekends: false,
        slotDuration: '01:00:00',
        eventTimeFormat: { hour: '2-digit', minute: '2-digit', hour12: false },
        events: this.appointments,
        eventDidMount: this.eventRender,
        eventClick: this.eventClick,
        noEventsContent: this.$tr('no_ssessions_available_for_booking'),
      }
    }
  },

  //------------------------------------------------
  // Methods
  methods: {
    toFullDate(date) {
      return moment(date).format('DD MMM, YYYY - HH:mm');
    },

    openDatepicker() {
      this.$refs.datePickBtn.open();
    },

    closeModal() {
      this.showModal = false;
      this.selectedAppointment = null;
    },

    firstAvailableAppointmentDate() {
      if(this.appointments[0]) {
        // let start = DateTime.fromJSDate(info.event.start).toFormat('HH:mm')
        this.calApi.gotoDate(this.appointments[0].start);
      }
    },

    calendarView() {
      return window.innerWidth < 1200 ? 'listWeek' : 'dayGridWeek';
    },

    selectCalendarView(evt) {
      this.calApi.changeView(evt.target.value);
    },

    pageCalendar(dir) {
      dir ? this.calApi.next() : this.calApi.prev();
    },

    changeCalendarView(view) {
      if(typeof view === 'string') {
        this.calApi.changeView(view);
      }
      else {
        if(this.$refs.calendar) {
          if(window.innerWidth < 1200) {
            this.calApi.changeView('listWeek');
          }
          else {
            this.calApi.changeView('dayGridWeek');
          }
        }
      }
    },

    onDatePickSelect(date) {
      if(date) {
        this.calApi.gotoDate(date);
      }
    },

    disabledDatePickerDates(date) {
        const currentDate = new Date();
        return date < currentDate;
    },

    eventClick(evt) {
      this.selectedAppointment = evt.event;
      this.showModal = true;
    },

    eventRender(info) {
      let start = moment(info.event.start).tz(this.$page.user.timezone).format('HH:mm');
      info.el.innerHTML = `
          <div class="thc-timeslot thc-timeslot-book text-xl text-white rounded">
            <span class="flex items-center font-bold">
              <i class="ti-time text-blue-900 text-lg font-bold mx-2 inline-block"></i>
              ${start}
            </span>
          </div>
        `;
    },

    async cancelAppointment() {
      try {
        this.loading = true;
        const { data } = await axios.patch('/appointments/cancel', {id: this.selectedAppointment.id});
        this.loading = false;
        this.$notify({
          title: 'Appointment canceled.',
          duration: 6000,
        });
        this.selectedAppointment.remove();
        this.showModal = false;
        this.selectedAppointment = null;
      } catch(err) {
        this.showModal = false;
        this.loading = false;
        this.selectedAppointment = null;
        this.$notify({
          title: 'Error rescheduling appointment',
          text: 'Please try a different timeslot or refreshing your browser',
          duration: 6000,
          type: 'error'
        });
      }
    },

    async deleteAppointment() {
      try {
        this.loading = true;
        const { data } = await axios.delete('/appointments', {params: {id: this.selectedAppointment.id}});
        this.loading = false;
        this.$notify({
          title: 'Appointment deleted.',
          duration: 6000,
        });
        this.selectedAppointment.remove();
        this.showModal = false;
        this.selectedAppointment = null;
      } catch(err) {
        this.showModal = false;
        this.loading = false;
        this.selectedAppointment = null;
        this.$notify({
          title: 'Error rescheduling appointment',
          text: 'Please try a different timeslot or refreshing your browser',
          duration: 6000,
          type: 'error'
        });
      }
    },

    async markAppointmentComplete(appt) {
      try {
        await axios.post('/appointments/complete', {id: this.selectedAppointment.id});

        this.$notify({
          title: 'Appointment marked complete!',
          type: 'error',
        });

        this.selectedAppointment.remove();
        this.showModal = false;
        this.selectedAppointment = null;

        this.$inertia.reload();

      } catch(err) {
        this.$notify({
          title: 'Something went wrong! Please try again later.',
          type: 'error',
        });

        this.showModal = false;
        this.loading = false;
        this.selectedAppointment = null;
      }
    },

    reschedule() {
      this.$inertia.visit(route('appointments.reschedule', {id: this.selectedAppointment.id}))
    },

    gotoRoomPreview() {
      this.$inertia.visit(route('appointments.room.preview', {id: this.selectedAppointment.id}));
    }
  }
}
</script>

<style scoped>
/deep/ .app-timeslot-status-scheduled .thc-timeslot.thc-timeslot-book {
    background: #63b3ed;
}
</style>
