<template>
  <app-layout>
    <template #header>
      <h3 class="font-semibold text-sm text-gray-800 leading-tight">
        {{ $tr("appointment_payment") }}
      </h3>
    </template>

    <div class="w-11/12 lg:w-1/2 mx-auto" v-if="status === 1 && appointment">
      <Card>
        <LoadSpinner v-if="loading"/>
        <div>
          <div class="p-3 m-2 mb-6 rounded bg-green-200 sm:text-sm">
            <p>{{ $tr("Your payment was successful!") }}</p>
            <p>
              {{ $tr("Your appointment is scheduled for") }}
              <b>{{toFullDate(appointment.starts_at)}}</b>
            </p>
            <br>
            <p>{{ $tr("Your payment and appointment information will be sent to mail") }}</p>
          </div>
          <p><b class="p-3 font-bold">{{ $tr("Transaction code") }}</b> {{payment.t}}</p>
          <p><b class="p-3 font-bold">{{ $tr("Payment id") }}</b> {{payment.s}}</p>
        </div>
      </Card>
    </div>

    <div class="w-11/12 lg:w-1/2 mx-auto" v-if="status === 2">
      <Card>
        <LoadSpinner v-if="loading"/>
        <div>
          <div class="p-3 m-2 rounded bg-red-200">
            <p>{{ $tr("Payment failed!") }}</p>
            <p class="text-xm">({{ $tr("Transaction code") }} {{payment.s}})</p>
          </div>
          <div class="p-3">
            <button type="buttuon" @click="goto" class="text-white text-sm bg-gray-800 px-3 py-2 mt-4 rounded">
              {{ $tr("Back to appointment calendar") }}
            </button>
          </div>
        </div>
      </Card>
    </div>

  </app-layout>
</template>


<script>
import AppLayout         from '@/Layouts/AppLayout'
import LoadSpinner       from '@/components/LoadSpinner';

export default {
  props: ['status', 'payment', 'appointment'],

  components: {
    AppLayout, LoadSpinner
  },

  data() {
    return {
      loading: false,
    }
  },

  mounted() {},

  //------------------------------------------------
  // Methods
  methods: {
    toFullDate(date) {
      return moment(date).format('DD MMM, YYYY - HH:mm');
    },

    goto() {
      this.$inertia.visit(route('appointments.book'));
    },

    async storePayment() {
      this.loading = true;
      const { data } = await axios.post('/orders/payment/store', {
      status: this.status,
      transaction_id: this.payment.t,
      order_code: this.payment.s,
      });
      this.session = data.session;
      this.loading = false;
    }
  }
}
</script>
