<template>
  <app-layout>
  <template #header>
    <h3 class="font-semibold text-sm text-gray-800 leading-tight">
    Schedule appointment for <span class="text-blue-500 font-normal">{{user_data.full_name}}</span>
    <br>from <b>{{toFullDate(appointment.starts_at)}}</b>
    </h3>
  </template>

  <div>
    <DialogModal :show="showModal">
    <template #title class="font-bold"><h3 class="font-bold">Rechedule appointment</h3> <hr class="my-1 border-gray-300"></template>

    <template #content>
      <div class="p-2 rounded bg-gray-100" v-if="toAppointment">
      <p class="m-1">
        from <br><b class="text-gray-600">{{toFullDate(appointment.starts_at)}}</b><br/>
        to <br><b>{{toFullDate(toAppointment.start)}}</b>
      </p>
      <hr class="my-3 border-gray-200">
      <p><i class="ti-user text-blue-500"></i> {{user_data.full_name}}</p>
      <p><i class="ti-email text-blue-500"></i> {{user_data.email}}</p>
      <p><i class="ti-mobile text-blue-500"></i> {{user_data.phone}}</p>
      </div>
    </template>

    <template #footer>
      <div class="flex justify-between flex-col lg:flex-row">
      <Button class="m-1" @click.native="reschedule">{{ $tr('change') | upperc }}</Button>
      <DangerButton class="m-1" @click.native="closeModal">{{ $tr('cancel') | upperc }}</DangerButton>
      </div>
    </template>
    </DialogModal>

    <DialogModal :show="rescheduled">
    <template #content>
      <div class="p-2 rounded bg-green-400">
      <p class="m-1">
        Appointment rescheduled!
      </p>
      </div>
    </template>

    <template #footer>
      <div class="flex justify-between flex-col lg:flex-row">
      <DangerButton class="m-1" @click.native="returnToCalendar">{{ $tr('back') | upperc }}</DangerButton>
      </div>
    </template>
    </DialogModal>

    <div class="mx-auto py-10 sm:px-6 lg:px-8 relative">
    <Card>
      <LoadSpinner v-if="loading"/>
      <!-- Calendar Toolbar -->
      <div class="app-calendar-toolbar p-2 bg-gray-100 rounded">
      <div class="app-calendar-toolbar-item app-calendar-toolbar-left relative">
        <date-pick class="absolute" v-model="date" @input="onDatePickSelect" ref="datePickBtn" :isDateDisabled="disabledDatePickerDates">
        <template v-slot:default="{toggle, inputValue}"><i></i></template>
        </date-pick>
        <Button class="mr-2" @click.native.stop="openDatepicker"><i class="ti-calendar"></i></Button>
        <select
        class="block w-full bg-white border border-gray-400 hover:border-gray-500 px-2 py-1 leading-tight rounded-sm focus:outline-none focus:shadow-outline"
        @click="changeCalendarView($event.target.value)">
        <option value="dayGridDay">{{ $tr('day') | uppercf }}</option>
        <option value="listWeek">{{ $tr('week') | uppercf }}</option>
        <option value="dayGridMonth">{{ $tr('month') | uppercf }}</option>
        </select>
      </div>
      <div class="app-calendar-toolbar-item app-calendar-toolbar-center my-2">
        <p class="font-bold text-gray-700 border-b border-blue-800">{{selectedCalDate}}</p>
      </div>
      <div class="app-calendar-toolbar-item app-calendar-toolbar-right">
        <Button class="mr-2" @click.native.stop="pageCalendar(0)"><i class="ti-angle-left"></i></Button>
        <Button @click.native.stop="pageCalendar(1)"><i class="ti-angle-right"></i></Button>
      </div>
      </div>

      <!-- Calendar -->
      <FullCalendar
      v-if="appointments"
      ref="calendar"
      height="auto"
      :options="calendarOpts"/>
      <p v-if="!appointments">No appointments available</p>
    </Card>
    </div>
  </div>
  </app-layout>
</template>

<script>
import DatePick          from 'vue-date-pick';
import FullCalendar      from '@fullcalendar/vue';
import dayGridPlugin     from '@fullcalendar/daygrid';
import listPlugin        from '@fullcalendar/list';
import interactionPlugin from '@fullcalendar/interaction';
import timeGridPlugin    from '@fullcalendar/timegrid';
import AppLayout         from '@/Layouts/AppLayout';
import LoadSpinner       from '@/components/LoadSpinner';
import { removeAccs }    from '@/services/utils';
//import { DateTime } from "luxon";

import 'vue-date-pick/dist/vueDatePick.css';

export default {

  //------------------------------------------------
  // Components
  components: {
    AppLayout, FullCalendar, DatePick,
    LoadSpinner,
  },

  //------------------------------------------------
  // Props
  props: {
    appointments: {
      type: Array,
      required: true,
      defalt: null
    },

    appointment: {
      type: '',
      required: true
    },
  },

  //------------------------------------------------
  // Data
  data() {
    return {
      date: '',
      showModal: false,
      toAppointment: null,
      calApi: null,
      loading: false,
      rescheduled: false,
    }
  },

  //------------------------------------------------
  // Lifecycle hooks
  beforeMount() {},
  beforeCreate() {},

  created() {},

  mounted() {
    this.calApi = this.$refs.calendar.getApi();
    window.addEventListener('resize', this.changeCalendarView);
    this.firstAvailableAppointmentDate();
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.changeCalendarView);
  },

  //------------------------------------------------
  // Computed
  computed: {
    user_data() {
      return this.appointment.user;
    },

    selectedCalDate() {
      if(this.calApi)
        return this.calApi.view.title;
    },

    calendarAppointments() {
      return this.appointments;
    },

    calendarOpts() {
      return {
        plugins: [ dayGridPlugin, listPlugin ],
        headerToolbar: { left: '', center: '', right: '' },
        initialView: this.calendarView(),
        contentHeight: 'auto',
        expandRows: true,
        weekends: false,
        slotDuration: '01:00:00',
        eventTimeFormat: { hour: '2-digit', minute: '2-digit', hour12: false },
        events: this.appointments,
        eventDidMount: this.eventRender,
        eventClick: this.eventClick,
        noEventsContent: this.$tr('no_ssessions_available_for_booking'),
      }
    }
  },

  //------------------------------------------------
  // Methods
  methods: {
    toFullDate(date) {
      return moment(date).format('DD MMM, YYYY - HH:mm');
    },

    openDatepicker() {
      this.$refs.datePickBtn.open();
    },

    closeModal() {
      this.showModal = false;
      this.toAppointment = null;
    },

    firstAvailableAppointmentDate() {
      if(this.appointments[0]) {
        // let start = DateTime.fromJSDate(info.event.start).toFormat('HH:mm')
        this.calApi.gotoDate(this.appointments[0].start);
      }
    },

    calendarView() {
      return window.innerWidth < 1200 ? 'listWeek' : 'dayGridWeek';
    },

    selectCalendarView(evt) {
      this.calApi.changeView(evt.target.value);
    },

    pageCalendar(dir) {
      dir ? this.calApi.next() : this.calApi.prev();
    },

    changeCalendarView(view) {
      if(typeof view === 'string') {
        this.calApi.changeView(view);
      }
      else {
        if(this.$refs.calendar) {
          if(window.innerWidth < 1200) {
            this.calApi.changeView('listWeek');
          }
          else {
            this.calApi.changeView('dayGridWeek');
          }
        }
      }
    },

    onDatePickSelect(date) {
      if(date) {
        this.calApi.gotoDate(date);
      }
    },

    disabledDatePickerDates(date) {
      const currentDate = new Date();
      return date < currentDate;
    },

    eventClick(evt) {
      this.toAppointment = evt.event;
      this.showModal = true;
    },

    eventRender(info) {
      let start = moment(info.event.start).tz(this.$page.user.timezone).format('HH:mm');
      info.el.innerHTML = `
        <div class="thc-timeslot thc-timeslot-book text-xl text-white rounded">
          <span class="flex items-center font-bold">
            <i class="ti-time text-blue-900 text-lg font-bold mx-2 inline-block"></i>
            ${start}
          </span>
        </div>
      `;
    },

    async reschedule() {
      try {
        this.loading = true;
        const { data } = await axios.patch('/appointments/reschedule', {
          id: this.appointment.id,
          toId: this.toAppointment.id,
        });
        this.loading = false;
        this.rescheduled = true;
        this.showModal = false;
      } catch(err) {
        this.toAppointment = null;
        this.showModal = false;
        this.errorModal = true;
        this.loading = false;
        this.$notify({
          title: 'Error rescheduling appointment',
          text: 'Please try a different timeslot or refreshing your browser',
          duration: 6000,
          type: 'error'
        });
      }
    },

    returnToCalendar() {
      this.$inertia.visit(route('appointments.calendar'))
    }
  }
}
</script>

<style scoped>
/deep/ .app-timeslot-status-scheduled .thc-timeslot.thc-timeslot-book {
  background: #63b3ed;
}
</style>
