<template>
  <button
    :type="type"
    class="inline-flex items-center px-4 py-2 border border-1 rounded font-semibold text-xs uppercase tracking-widest hover:text-white active:bg-blue-100 focus:outline-none focus:border-blue-800 focus:shadow-outline-gray transition ease-in-out duration-150">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'button',
    },
    color: {
      type: String,
      default: 'gray-800 ',
    }
  },

  computed: {
    cssClasses() {
      return {
        [`bg-${this.color}`]: true,
        [`border-${this.color}`]: true,
        [`text-${this.color}`]: true,
      }
    }
  }
}
</script>
