<template functional>
  <div :class="props.cssClass" class="kppx-card">
    <div class="app-card px-6 py-4 bg-white rounded shadow-md border-t-2 border-appBrand">
      <slot/>
    </div>
  </div>
</template>
