<template>
    <a
        :href="href"
        :class="cssClasses"
        class="px-4 py-2 rounded font-semibold tracking-wide hover:outline-none active:outline-none focus:outline-none transition ease-in-out duration-150">
        <slot></slot>
    </a>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                default: 'button',
            },
            href: {
                type: '',
                default: null
            },
            color: {
                type: String,
                default: 'gray'
            },

            outline: {
                type: Boolean,
                default: false,
            },
            css: {
                type: String,
                default: 'inline-flex m-2 items-center'
            },
            href: {
                type: String,
                default: '#!',
            }
        },

        computed: {
            cssClasses() {
                return {
                    [this.css]: this.css,
                    [`border border-gray-800 text-gray-800 hover:text-white hover:bg-gray-700`]: this.outline && this.color === 'gray' && this.type === 'button',
                    [`border border-gray-800 bg-gray-800 text-white hover:bg-gray-700`]: !this.outline && this.color === 'gray' && this.type === 'button',
                    [`border border-red-500 text-red-500 hover:text-white hover:bg-red-600`]: this.outline && this.color === 'red' && this.type === 'button',
                    [`border border-red-500 bg-red-500 text-white hover:bg-red-600`]: !this.outline && this.color === 'red' && this.type === 'button',
                    [`border border-green-500 text-green-500 hover:text-white hover:bg-green-600`]: this.outline && this.color === 'green' && this.type === 'button',
                    [`border border-green-500 bg-green-500 text-white hover:bg-green-600`]: !this.outline && this.color === 'green' && this.type === 'button',
                    [`border border-appBrand text-blue-700 hover:text-white hover:bg-blue-800`]: this.outline && this.color === 'blue' && this.type === 'button',
                    [`text-gray-700 hover:underline`]: this.color === 'gray' && this.type === 'link',
                    [`text-blue-700 hover:underline`]: this.color === 'blue' && this.type === 'link',
                    [`text-red-500 hover:underline`]:  this.color === 'red' && this.type === 'link',
                }
            }
        }
    }
</script>