<template>
  <div :style="bgStyle" class="app-loading-spinner flex items-center justify-center w-full h-full absolute z-20 top-0 left-0">
    <transition name="app-loading-spinner-fade">
      <div class="app-loading-spinner-item" :style="spinnerStyle"><div></div><div></div></div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'LoadingSpinner',

    props: {
      size: {
        type: Number,
        default: 42
      },
      color: {
        type: String,
        default: '#3182ce'
      },
      bg: {
        type: String,
        default: 'white'
      },
      bgOpacity: {
        type: Number,
        default: 70
      },
    },

    computed: {
      bgStyle() {
        let color = this.bg === 'black' ? `rgba(0,0,0,${this.bgOpacity/100})` : `rgba(255,255,255,${this.bgOpacity/100})`;
        return {
          background: color
        }
      },

      spinnerStyle() {
        return {
          borderColor: this.color,
        }
      }
    }
  }
</script>

<style scoped>
  .app-loading-spinner-item {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .app-loading-spinner-item div {
    position: absolute;
    border: 4px solid;
    border-color: inherit;
    opacity: 1;
    border-radius: 50%;
    animation: app-loading-spinner-item 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .app-loading-spinner-item div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes app-loading-spinner-item {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .app-loading-spinner-fade-enter-active, .app-loading-spinner-fade-leave-active {
    transition: opacity .6s;
  }

  .app-loading-spinner-fade-enter, .app-loading-spinner-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
