<template>
  <button :type="type" class="inline-flex items-center px-4 py-2 border border-1 border-appBrand rounded font-semibold text-xs text-appBrand uppercase tracking-widest hover:bg-appBrand hover:text-white active:bg-appBrand focus:outline-none focus:border-appBrand focus:shadow-outline-gray transition ease-in-out duration-150">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    props: {
      type: {
        type: String,
        default: 'button',
      },
    }
  }
</script>
