<template>
  <div class="app-nav-dropdown">
    <ul class="app-nav-dropdown-items">
      <li
        v-for="(item, i) in items"
        :key="i"
        class="app-nav-dropdown-item">
        <inertia-link v-else :href="child.route">
            {{item.label}}
        </inertia-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Object,
      required: true
    }
  }
}
</script>
