<template>
  <div class="app-nav-item">
    <h4
      v-if="item.section"
      class="text-sm text-gray-600 uppercase mb-4 pb-2 font-bold tracking-widest border-b border-gray-700">
      {{item.label}}</h4>

    <div class="mb-1" v-else-if="item.children.length">
      <button
        type="button"
        @click.stop.prevent="toggleDropdown()"
        class="outline-none focus:outline-none w-full flex items-center block hover:bg-gray-700 hover:text-gray-300 transition duration-300 text-gray-100 py-2 px-4 cursor-pointer text-sm" >
        {{item.label}}
      </button>

      <div class="app-nav-dropdown-container" v-show="showDropdown">
        <app-nav-dropdown :items="item.children">
      </div>
    </div>


    <inertia-link v-else :href="child.route">
        {{item.label}}
    </inertia-link>
  </div>
</template>

<script>
import AppNavDropdown from './Dropdown';

export default {
  //------------------------------------------------
  // Components
  components: { AppNavDropdown },

  //------------------------------------------------
  // Props
  props: {
    item: {
      type: Object,
      required: true,
    }
  },

  //------------------------------------------------
  // Data
  data: () => ({
    showDropdown: false,
  }),

  //------------------------------------------------
  // Lifecycle hooks
  beforeCreate() {},

  created() {},

  mounted() {},

  beforeDestroy() {},

  //------------------------------------------------
  // Computed
  computed: {},

  //------------------------------------------------
  // Methods
  methods: {
    indicator() {
      return 'expand_more';
    },

    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
  }
}
</script>

<style scoped lang="scss">

</style>
