<template>
  <div class="app-component relative">
    <nav class="app-nav" :class="cssClasses">
        <AppNavItem v-for="(item, i) in items" :key="i" :item="item"/>
    </nav>
  </div>
</template>

<script>
import AppNavItem from './Item';

export default {
  //------------------------------------------------
  // Props
  props: {
    items: {
      type: Array,
      required: true,
      default: [],
    },
    cssClasses: {
      type: String,
      default: '',
    }
  },

  //------------------------------------------------
  // Components
  components: {
    AppNavItem
  },

  //------------------------------------------------
  // Data
  data: () => ({}),

  //------------------------------------------------
  // Lifecycle hooks
  beforeCreate() {},

  created() {},

  mounted() {},

  beforeDestroy() {},

  //------------------------------------------------
  // Computed
  computed: {},

  //------------------------------------------------
  // Methods
  methods: {}
}
</script>

<style scoped lang="scss">
  .app-subnav-fade-enter-active, .app-subnav-fade-leave-active {
    transition: all .3s ease;
    height: auto;
    overflow: hidden;
  }
  .app-subnav-fade-enter, .app-subnav-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    height: 0;
    opacity: 0;
  }
</style>
