<template>
  <app-layout>
    <template #header>
      <h3 class="font-semibold text-sm text-gray-800 leading-tight">
        {{$tr('Appointment preview') | upperc }}
      </h3>
    </template>

    <div class="mx-auto lg:w-3/4 py-10 sm:px-6 lg:px-8 relative">
      <Card>
        <div class="flex flex-col lg:flex-row">
          <div class="lg:w-1/2 mr-6 min-h-64">
            <div class="previewVideoContainer my-3 w-full relative h-64" ref="previewVideoContainer">
              <div class="w-full flex items-center justify-center bg-gray-100 z-1 h-full w-full absolute top-0 left-0" ref="previewVideoPlaceholder">
                <Icon name="camera"></Icon>
              </div>
            </div>
          </div>


          <div class="lg:w-1/2 pt-4">
            <div class="flex flex-col justify-between">
              <p class="text-lg">{{$tr('Hello') }} {{ $page.user.name }}!</p>
              <p class="text-gray-600 text-sm">{{$tr('appointment_preview_welcome')}}</p>
              <Button color="blue" @click.native="$inertia.get(route('appointments.room', {id: appointment_id}))" class="mt-4 mb-2">
                {{$tr('start_appointment') | upperc }}
              </Button>

              <OutlineButton
                v-if="$page.user.role === 'doctor'"
                color="red" @click.native="complete" class="mt-4 mb-2">
                {{$tr('complete_appointment') | upperc }}
              </OutlineButton>

              <OutlineButton
                v-if="$page.user.role === 'doctor'"
                color="red" @click.native="remindEmailUser" class="mt-4 mb-2 flex items-center justify-between">
                {{$tr('remindEmailUser') | upperc }}
                <div v-if="reminderSentLoader" class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-4 w-4"></div>
              </OutlineButton>
              <p class="p-2 border border-green-600 text-green-800 bg-green-300 flex items-center justify-between" v-if="reminderSent">
                Reminder email sent <span @click="reminderSent = false" class="font-bold cursor-pointer">x</span>
              </p>
            </div>
          </div>
        </div>
      </Card>
    </div>
  </app-layout>
</template>

<script>
import TwilioVideo, { createLocalVideoTrack } from 'twilio-video';

import AppLayout            from '@/Layouts/AppLayout';
import LoadSpinner          from '@/components/LoadSpinner';
import Icon                 from '@/components/Icon';

export default {
  props: ['appointment_id', 'appointment'],

  components: {
    AppLayout, LoadSpinner, Icon
  },

  data() {
    return {
      previewTrack: null,
      previewVideoElement: null,
      reminderSent: false,
      reminderSentLoader: false,
    }
  },

  mounted() {
    this.ensureMediaPermissions();
    this.createPreview();
  },

  beforeDestroy() {
    this.disablePreview();
  },

  methods: {
    async createPreview() {
      const track = await createLocalVideoTrack();
      this.previewTrack = track;
      this.previewVideoElement = this.createVideoElement();
      this.$refs.previewVideoContainer.appendChild(track.attach(this.previewVideoElement ));
    },

    disablePreview() {
      this.previewTrack.detach().forEach(element => element.remove());
      this.previewTrack.stop();
    },

    createVideoElement(track = null) {
      track = track || this.previewTrack;
      const id = 'vid-' + (track.id || track.name)

      const element = document.createElement('video');
      element.id = id;
      ['w-auto', 'z-10', 'relative', 'h-64', 'mx-auto'].forEach(v => element.classList.add(v));
      return element;
    },

    joinRoom() {
      this.disablePreview();
    },

    disconnect() {
      this.createPreview();
    },

    // This function ensures that the user has granted the browser permission to use audio and video
    // devices. If permission has not been granted, it will cause the browser to ask for permission
    // for audio and video at the same time (as opposed to separate requests).
    ensureMediaPermissions() {
      return navigator.mediaDevices
        .enumerateDevices()
        .then(devices => devices.every(device => !(device.deviceId && device.label)))
        .then(shouldAskForMediaPermissions => {
          if (shouldAskForMediaPermissions) {
            return navigator.mediaDevices
              .getUserMedia({ audio: true, video: true })
              .then(mediaStream => mediaStream.getTracks().forEach(track => track.stop()));
          }
        });
    },

    async remindEmailUser() {
      this.reminderSentLoader = true;
      // this.$inertia.post(route('appointments.remind'), {app_id: this.appointment.id});
      try {
        const { data } = await axios.post('/appointments/manual/remind', {app_id: this.appointment_id});
        if(data.message) {
          this.reminderSent = true;
          this.reminderSentLoader = false;
        }
        this.reminderSentLoader = false;
      } catch(err) {
        this.reminderSentLoader = false;
      }
    },

    async complete() {
      // this.$inertia.get(route('appointments.calendar'), {completed:1});
      try {
        const { data } = await axios.post('/appointments/complete', {id: this.appointment_id});
        console.log(data);
      } catch(err) {

      }
    }
  }
}
</script>

<style scoped>
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
