<template>
  <div class="app-room w-full overflow-hidden">

    <div class="app-room-container relative z-10 w-full">

      <div class="app-room-media-container flex flex-col items-center justify-between relative w-full z-10">

        <!-- Remote media -->
        <div
          class="remoteMediaContainer overflow-hidden w-full min-h-screen relative w-full h-full"
          ref="remoteMediaContainer">
        </div>

        <div ref="screenShareMediaContainer"
          class="screenShareMediaContainer bg-black absolute top-0 left-0 w-full h-full"
          :class="screenShareMediaContainerClass">
        </div>

          <!-- Local media -->
        <div ref="localMediaContainer"
            @touchstart.stop="dragStart"
            @touchend.stop="dragEnd"
            @touchmove.stop="drag"
            @mousedown.stop="dragStart"
            @mouseup.stop="dragEnd"
            @mousemove.stop="drag"
            class="localMediaContainer cursor-move border-2 rounded border-gray-800 w-24 lg:w-56 h-auto overflow-hidden top-0 right-0 absolute z-20">
          <div class="relative">
            <video class="h-full" autoplay playsinline ref="localVideoTrack"></video>
            <div class="flex items-center justify-center absolute w-full h-full bg-black top-0 left-0" v-show="!this.isCamOn">
              <Icon :size="30" :name="'cam_off'" color="#f0f0f0"/>
            </div>
          </div>
        </div>

      </div>

      <!-- Session bottom toolbar -->
      <div class="app-room-toolbar w-full flex items-center justify-center p-1 h-16 absolute z-99">

        <button @click.prevent="toggleCam"
            class="rounded-full p-2 m-2 w-10 h-10 flex items-center justify-center outline-none focus:outline-none"
            :class="{'bg-gray-300': isCamOn, 'bg-red-600': !isCamOn}">
          <Icon :name="this.isCamOn ? 'cam_on' : 'cam_off'" color="#000"/>
        </button>

        <button @click.prevent="toggleMic"
            class="rounded-full p-2 m-2 w-10 h-10 flex items-center justify-center outline-none focus:outline-none"
            :class="{'bg-gray-300': isMicOn, 'bg-red-600': !isMicOn}">
          <Icon :name="this.isMicOn ? 'mic_on' : 'mic_off'" color="#000"/>
        </button>

        <button @click.prevent="toggleScreenShare"
            v-if="!isMobile && $page.user.role === 'doctor'"
            class="rounded-full p-2 m-2 w-10 h-10 flex items-center justify-center outline-none focus:outline-none"
            :class="{'bg-gray-300': !isScreenshareOn, 'bg-red-600': isScreenshareOn}">
          <Icon :name="this.isScreenshareOn ? 'share_off' : 'share_on'" color="#000"/>
        </button>

        <button @click.prevent="disconnect"
            class="rounded-full p-2 m-2 w-10 h-10 flex items-center justify-center outline-none focus:outline-none bg-red-700">
          <Icon :name="'call_end'" color="white"/>
        </button>

        <!-- chat button -->
      <!-- upload button -->
      </div>
    </div>
  </div>
</template>

<script>
import TwilioVideo from 'twilio-video';

import Icon             from '@/components/Icon';
import { isMobile }     from '@/services/utils';

export default {
  props: ['room_name', 'token', 'appointment_id', 'open'],

  components: {
    Icon
  },

  data() {
    return {
      room: null,
      debug: false,
      isMicOn: true,
      isCamOn: true,
      isScreenshareOn: false,
      screenShareTrack: null,
      localTrack: null,
      dragActive: false,
      dragCurrentX: null,
      dragCurrentY: null,
      dragInitialX: null,
      dragInitialY: null,
      dragXOffset: 0,
      dragYOffset: 0,
    }
  },

  mounted() {
    this.setViewHeight();
    window.addEventListener('resize', () => {
      this.setViewHeight();
    });

    if(1 == 1) {
      this.createRoom();
      window.addEventListener('beforeunload', this.disconnect);
    }
    else {
      this.$inertia.get(route('appointments.room.preview', {id: this.appointment_id}))
    }
  },

  beforeDestroy: function () {
    window.removeEventListener('beforeunload', this.disconnect);
    window.removeEventListener('resize', this.setViewHeight);
    // this.setRoom(null);
  },

  computed: {
    isMobile() {
      return isMobile();
    },

    screenShareMediaContainerClass() {
      return {
        'opacity-0 z-0': !this.isScreenshareOn,
        'opacity-1 z-20': this.isScreenshareOn,
      }
    }
  },


  methods: {
    log(name, data) {
      if(this.debug)
        console.log(name, data);
    },

    async createRoom() {
      this.room = await TwilioVideo.connect(this.token, {
        name: this.room_name,
        maxParticipants: 2
      });

      this.log('createRoom', this.room);

      this.createLocalVideoTrack();

      this.log('participantConnected-call', this.room)

      this.room.participants.forEach(this.participantConnected);
      this.room.on('participantConnected', this.participantConnected);

      this.room.on('participantDisconnected', this.participantDisconnected);
      this.room.once('disconnected', error => this.room.participants.forEach(this.participantDisconnected));
    },

    async createLocalVideoTrack() {
      this.localTrack = await TwilioVideo.createLocalVideoTrack();
      this.localTrack.attach(this.$refs.localVideoTrack);
    },

    participantConnected(participant) {
      this.log('Participant "%s" connected', participant.identity);

      const div = document.createElement('div');
      div.id = participant.sid;
      ['w-full', 'h-full', 'relative'].forEach(v => div.classList.add(v));
      div.innerHTML = `<span class="participant-identity">${participant.identity}</span>`;

      participant.tracks.forEach(publication => {
        if (publication.isSubscribed) {
          this.trackSubscribed(div, publication.track);
        }
      });

      participant.on('trackSubscribed', track => this.trackSubscribed(div, track));
      participant.on('trackUnsubscribed', this.trackUnsubscribed);

      this.$refs.remoteMediaContainer.appendChild(div);
    },

    participantDisconnected(participant) {
      this.log('participantDisconnected.room', this.room)
      this.log('Participant "%s" disconnected', participant.identity);
      document.getElementById(participant.sid).remove();
      // this.room.disconnect();
    },

    trackSubscribed(div, track) {
      if(track.name === 'SCREEN_SHARE') {
        this.log('trackSubscribed', 'Not attaching SCREEN_SHARE');
        const ssdiv = document.createElement('div');
        ssdiv.id = 'app-room-share-screen';
        ['bg-black', 'absolute', 'top-0', 'left-0', 'w-full', 'h-full', 'screenShareMediaContainer'].forEach(v => ssdiv.classList.add(v));
        ssdiv.appendChild(track.attach());
        div.appendChild(ssdiv);
      }
      else {
        this.log('trackSubscribed', track);
        div.appendChild(track.attach());
      }
    },

    trackUnsubscribed(track) {
      this.log('trackUnsubscribed', track);
      track.detach().forEach(element => element.remove());

      document.getElementById('app-room-share-screen') && document.getElementById('app-room-share-screen').remove();
    },

    disconnect() {
      this.room.disconnect();
      this.localTrack.stop();
      this.log('disconnect', this.room);
      this.$nextTick(() => {
        this.$inertia.get(route('appointments.room.preview', {id: this.appointment_id}));
      });
    },

    async toggleScreenShare() {
      this.log('screenShareTrack', 'called');
      if(!this.isScreenshareOn) {
        const stream = await navigator.mediaDevices.getDisplayMedia({
          audio: false,
          video: {
            frameRate: 15,
            height: 1080,
            width: 1920,
          },
        });

        this.screenShareTrack = new TwilioVideo.LocalVideoTrack(stream.getTracks()[0], { name: 'SCREEN_SHARE' });

        this.room.localParticipant.publishTrack(this.screenShareTrack);

        this.$refs.screenShareMediaContainer.appendChild(this.screenShareTrack.attach());

        this.isScreenshareOn = true;
        this.log('screenShareTrack', 'switched on');
      }
      else {
        this.log('screenShareTrack', this.screenShareTrack);

        await this.room.localParticipant.unpublishTrack(this.screenShareTrack);
        this.isScreenshareOn = false;
        this.screenShareTrack = null;
        this.$refs.screenShareMediaContainer.removeChild(this.$refs.screenShareMediaContainer.childNodes[0]);
        this.log('screenShareTrack', 'switched off');
      }
    },

    toggleCam() {
      this.room.localParticipant.videoTracks.forEach(publication => {
        if(publication.track.isEnabled) {
          publication.track.disable();
          this.isCamOn = false;
        }
        else {
          this.isCamOn = true;
          publication.track.enable();
        }
      });
    },


    toggleMic() {
      this.room.localParticipant.audioTracks.forEach(publication => {
        if(publication.track.isEnabled) {
          publication.track.disable();
          this.isMicOn = false;
        }
        else {
          this.isMicOn = true;
          publication.track.enable();
        }
      });
    },

    //-------------------------------------
    // Local video drag
    dragStart(e) {
      this.log(e.type);
      if (e.type === "touchstart") {
        this.dragInitialX = e.touches[0].clientX - this.dragXOffset;
        this.dragInitialY = e.touches[0].clientY - this.dragYOffset;
      } else {
        this.dragInitialX = e.clientX - this.dragXOffset;
        this.dragInitialY = e.clientY - this.dragYOffset;
      }

      this.dragActive = true;
    },

    dragEnd() {
      this.dragInitialX = this.dragCurrentX;
      this.dragInitialY = this.dragCurrentY;
      this.dragActive = false;
    },

    drag(e) {
      if (this.dragActive) {
        e.preventDefault();

        if (e.type === "touchmove") {
          this.dragCurrentX = e.touches[0].clientX - this.dragInitialX;
          this.dragCurrentY = e.touches[0].clientY - this.dragInitialY;
        } else {
          this.dragCurrentX = e.clientX - this.dragInitialX;
          this.dragCurrentY = e.clientY - this.dragInitialY;
        }

        this.dragXOffset = this.dragCurrentX;
        this.dragYOffset = this.dragCurrentY;

        this.setdragTranslate(this.dragCurrentX, this.dragCurrentY, this.$refs.localMediaContainer);
      }
    },

    // eslint-disable-line no-unused-vars
    setdragTranslate(x, y, el) {
      el.style.transform = "translate3d(" + x + "px, " + y + "px, 0)";
    },

    setViewHeight: function() {
      let vh = window.innerHeight * 0.01
      document.documentElement.style.setProperty('--vh', `${vh}px`)
    },
  }
};
</script>

<style scoped>
.app-room-container {
  background: #06090e;
  height: calc(var(--vh) * 100);
}

.app-room-toolbar {
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.66);
}

.localMediaContainer /deep/ video,
.remoteMediaContainer /deep/ video,
.screenShareMediaContainer /deep/ video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.remoteMediaContainer /deep/ video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.localMediaContainer {
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4)
}

.app-room-media-container {
  min-height: calc(100%);
}
</style>
