<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-sm text-gray-800 leading-tight">
        Appointmentssdfsdf
      </h2>
    </template>

    <div>
      <div class="mx-auto py-10 sm:px-6 lg:px-8">
        <Card>
          <date-pick v-model="date" @input="onDatePickSelect" ref="datePickBtn" :isDateDisabled="disabledDatePickerDates">
            <template v-slot:default="{toggle, inputValue}"><i></i></template>
          </date-pick>

          <FullCalendar
            v-if="appointments"
            ref="calendar"
            height="auto"
            :options="calendarOpts"/>
          <p v-if="!appointments">No appointments available</p>
        </Card>
      </div>
    </div>
  </app-layout>
</template>

<script>
import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import listPlugin from '@fullcalendar/list';
import interactionPlugin from '@fullcalendar/interaction';
import timeGridPlugin from '@fullcalendar/timegrid';
import DatePick from 'vue-date-pick';
import { DateTime } from "luxon";

import AppLayout from './../Layouts/AppLayout';

import 'vue-date-pick/dist/vueDatePick.css';

export default {

  //------------------------------------------------
  // Components
  components: {
    AppLayout, FullCalendar, DatePick,
  },

  //------------------------------------------------
  // Props
  props: {
    appointments: {
      type: Array,
      required: true,
      defalt: null
    }
  },

  //------------------------------------------------
  // Data
  data: () => ({
    date: '',
  }),

  //------------------------------------------------
  // Lifecycle hooks
  beforeMount() {},
  beforeCreate() {},
  created() {
    // var dt = DateTime.fromISO(event.start._date.toISOString());
    // var dx = dt.plus({hours:1});
  },
  mounted() {
    window.addEventListener('resize', this.changecalendarView);
    this.firstAvailableAppointmentDate();
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.changecalendarView);
  },

  //------------------------------------------------
  // Computed
  computed: {
    calendarAppointments() {
      return this.appointments;
    },

    calendarOpts() {
      return {
        plugins: [ dayGridPlugin, listPlugin ],
        headerToolbar: {
          left: 'title',
          center: '',
          right: 'datePickerBtn, dayGridDay, listWeek, dayGridMonth, prev, next'
        },
        buttonText: {
          today:    'today',
          month:    'ΜΗΝΑΣ',
          week:     'ΕΒΔΟΜΑΔΑ',
          day:      'ΗΜΕΡΑ',
          list:     'ΕΒΔΟΜΑΔΑ'
        },
        initialView: this.calendarView(),
        contentHeight: 'auto',
        expandRows: true,
        weekends: false,
        slotDuration: '01:00:00',
        eventTimeFormat: {
          hour: '2-digit',
          minute: '2-digit',
          hour12: false
        },
        events: this.appointments,
        // eventContent: this.eventContent,
        eventDidMount: this.eventRender,
        eventClick: this.eventClick,
        noEventsContent: this.$tr('no_ssessions_available_for_booking'),
        customButtons: {
          datePickerBtn: {
            text: 'ΕΠΙΛΟΓΗ ΗΜΕΡΑΣ',
            click: (e) => {
              e.stopPropagation();
              this.$refs.datePickBtn.open()
            },
            icon: ''
          }
        },
      }
    }
  },

  //------------------------------------------------
  // Methods
  methods: {
    firstAvailableAppointmentDate() {
      if(this.appointments[0]) {
        // let start = DateTime.fromJSDate(info.event.start).toFormat('HH:mm')
        const api = this.$refs.calendar.getApi();
        api.gotoDate(this.appointments[0].start);
      }
    },

    calendarView() {
      return window.innerWidth < 1200 ? 'listWeek' : 'dayGridWeek';
    },

    changecalendarView() {
      if(this.$refs.calendar) {
        const api = this.$refs.calendar.getApi();
        if(window.innerWidth < 1200) {
          api.changeView('listWeek');
        }
        else {
          api.changeView('dayGridWeek');
        }
      }
    },

    onDatePickSelect(date) {
      if(date) {
        const api = this.$refs.calendar.getApi();
        api.gotoDate(date);
      }
    },

    disabledDatePickerDates(date) {
        const currentDate = new Date();
        return date < currentDate;
    },

    eventClick(evt) {
      if(!evt.event.extendedProps.available) {
        return;
      }
      // this.selectedSession = evt.event;
      // this.showSessionModal = true;
    },

    eventRender(info) {
      let start = DateTime.fromJSDate(info.event.start).toFormat('HH:mm');
      info.el.innerHTML = `<span class="thc-timeslot thc-timeslot-book flex items-center text-xl"><i class="ti-time text-blue-900 text-lg">sdfsdf</i> ${start}<span>`;
    },
  }
}
</script>

<style scoped>

</style>
