<template>
<FullCalendar 
  ref="calendar" 
  :options="calendarOptions"
  :defaultView="defaultView"
  :events="sessions"
  @eventClick="$emit('event-click', $event)"
  />
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import { DateTime } from 'luxon';

export default {

  //------------------------------------------------
  // Components
  components: {
    FullCalendar
  },

  //------------------------------------------------
  // Props
  props: {},

  //------------------------------------------------
  // Data
  data: () => ({
    calendarOptions: {
      height: auto,
      contentHeight: auto,
      expandRows: true,
      weekends: false,
      slotDuration: '01:00:00',
      allDaySlot: false,
      header: {
        // left: 'dayGridMonth,timeGridWeek,timeGridDay',
        left: 'dayGridDay, dayGridWeek, dayGridMonth',
        center: 'title',
        // right: 'prevYear,prev,next,nextYear'
        right: 'prev,next'
      },
      plugins: [ dayGridPlugin, interactionPlugin ],
      initialView: 'dayGridMonth',
    },
    sessions: [],
  }),

  //------------------------------------------------
  // Lifecycle hooks
  beforeMount() {},
  beforeCreate() {},
  created() {
    // var dt = DateTime.fromISO(event.start._date.toISOString());
    // var dx = dt.plus({hours:1});
    this.calendar = '';
  },
  mounted() {},
  beforeDestroy() {},

  //------------------------------------------------
  // Computed
  computed: {
    calendarView() {
      return window.innerWidth < 1200 ? 'dayGridDay' : 'dayGridWeek';
    },
  },

  //------------------------------------------------
  // Methods
  methods: {}
}
</script>

<style scoped>
#calendar {
    width: 60vw;
    height: 800px;
}
</style>