<template>
    <jet-form-section @submitted="updateProfileInformation">
        <template #title>
            {{$tr('Profile Information')}}
        </template>

        <template #description>
            {{$tr("Update your account's profile information and email address.")}}
        </template>

        <template #form class="relative w-full">
            <LoadSpinner v-if="busy"/>
            <!-- Profile Photo -->
            <div class="col-span-6 sm:col-span-4" v-if="$page.jetstream.managesProfilePhotos">
                <!-- Profile Photo File Input -->
                <input type="file" class="hidden"
                            ref="photo"
                            @change="updatePhotoPreview">

                <jet-label for="photo" value="Photo" />

                <!-- Current Profile Photo -->
                <div class="mt-2" v-show="! photoPreview">
                    <img :src="user.profile_photo_url" alt="Current Profile Photo" class="rounded-full h-20 w-20 object-cover">
                </div>

                <!-- New Profile Photo Preview -->
                <div class="mt-2" v-show="photoPreview">
                    <span class="block rounded-full w-20 h-20"
                          :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'">
                    </span>
                </div>

                <jet-secondary-button class="mt-2 mr-2" type="button" @click.native.prevent="selectNewPhoto">
                    {{$tr("Select A New Photo")}}
                </jet-secondary-button>

                <jet-secondary-button type="button" class="mt-2" @click.native.prevent="deletePhoto" v-if="user.profile_photo_path">
                     {{$tr("Remove Photo")}}
                </jet-secondary-button>

                <jet-input-error :message="form.error('photo')" class="mt-2" />
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="name" :value="$tr('Name')" />
                <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" autocomplete="name" />
                <jet-input-error :message="form.error('name')" class="mt-2" />
            </div>

            <!-- Full Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="full_name" :value="$tr('Full Name')" />
                <jet-input id="full_name" type="text" class="mt-1 block w-full" v-model="form.full_name" autocomplete="full_name" />
                <jet-input-error :message="form.error('full_name')" class="mt-2" />
            </div>

            <!-- Email -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="email" :value="$tr('Email')" />
                <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" />
                <jet-input-error :message="form.error('email')" class="mt-2" />
            </div>

            <!-- Phone -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="phone" :value="$tr('Phone')" />
                <jet-input id="phone" type="text" class="mt-1 block w-full" v-model="form.phone" autocomplete="phone" />
                <jet-input-error :message="form.error('phone')" class="mt-2" />
            </div>

            <div class="col-span-6 sm:col-span-4">
                <jet-label for="country" :value='$tr("Select country")' />
                <vSelect id="country"
                    v-model="form.country"
                    :clearable="false"
                    :searchable="false"
                    :filterable="false"
                    :options="countries"/>
                <jet-input-error :message="form.error('country')" class="mt-2" />
            </div>

            <div class="col-span-6 sm:col-span-4">
                <FieldLabel for="timezone" :label='$tr("Select your timezone")' :info='$tr("Choose your timezone to view available session times")'/>
                <vSelect id="timezone"
                    v-model="form.timezone"
                    :reduce="timezone => timezone.zone"
                    :options="timezones"
                    :clearable="false"
                    :searchable="false"
                    :filterable="false"
                    :required="!form.timezone"/>
                <jet-input-error :message="form.error('timezone')" class="mt-2" />
            </div>

            <div class="col-span-6 sm:col-span-4">
                <FieldLabel for="locale" :label='$tr("Select language")' />
                <vSelect id="locale"
                    @input="setLocale"
                    v-model="form.locale"
                    :reduce="locale => locale.value"
                    :options="locales"
                    :clearable="false"
                    :searchable="false"
                    :filterable="false"
                    :required="!form.locale"/>
                <jet-input-error :message="form.error('locale')" class="mt-2" />
            </div>
        </template>

        <template #actions>
            <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                {{$tr("Saved.")}}
            </jet-action-message>

            <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                {{$tr("save", true)}}
            </jet-button>
        </template>
    </jet-form-section>
</template>

<script>
    import JetButton from './../../Jetstream/Button'
    import JetFormSection from './../../Jetstream/FormSection'
    import JetInput from './../../Jetstream/Input'
    import JetInputError from './../../Jetstream/InputError'
    import JetLabel from './../../Jetstream/Label'
    import JetActionMessage from './../../Jetstream/ActionMessage'
    import JetSecondaryButton from './../../Jetstream/SecondaryButton'

    import InputField from '@/components/Form/Input'
    import FieldLabel from '@/components/Form/Label'
    import LoadSpinner from '@/components/LoadSpinner'
    import vSelect from 'vue-select';
    import { timezones, countries } from '@/services/utils'

    export default {
        components: {
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
            InputField,
            FieldLabel,
            vSelect,
            LoadSpinner
        },

        props: ['user'],

        data() {
            return {
                form: this.$inertia.form({
                    '_method': 'PUT',
                    name: this.user.name,
                    email: this.user.email,
                    photo: null,
                    phone: this.user.phone,
                    country: this.user.country,
                    timezone: this.user.timezone,
                    full_name: this.user.full_name,
                    locale: this.user.locale
                }, {
                    bag: 'updateProfileInformation',
                    resetOnSuccess: false,
                }),
                busy: false,
                locales: [
                    { label: 'English', value: 'en' },
                    { label: 'Ελληνικά', value: 'el' },
                ],
                photoPreview: null,
                countries: countries,
                timezones: timezones,
            }
        },

        methods: {
            updateProfileInformation() {
                if (this.$refs.photo) {
                    this.form.photo = this.$refs.photo.files[0]
                }

                this.form.post(route('user-profile-information.update'), {
                    preserveScroll: true
                });
            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            updatePhotoPreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.photoPreview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.photo.files[0]);
            },

            async setLocale() {
                this.busy = true;
                try {
                    const { data } = axios.post('/app/users/setlocale', { locale: this.form.locale });
                    localStorage.setItem('_thc_lang', this.form.locale);
                    setTimeout(() => {
                        window.location.reload(window.location, true);
                        return false;
                    }, 444);
                } catch(err) {
                    console.log(err);
                }
            },

            deletePhoto() {
                this.$inertia.delete(route('current-user-photo.destroy'), {
                    preserveScroll: true,
                }).then(() => {
                    this.photoPreview = null
                });
            },
        },
    }
</script>
