<template>
    <inertia-link :href="href" :class="classes">
        <slot></slot>
    </inertia-link>
</template>

<script>
    export default {
        props: ['href', 'active'],

        computed: {
            classes() {
                return this.active
                            ? 'inline-flex items-center px-1 pt-1 border-b-2 border-appBrand text-sm font-medium leading-5 text-appBrandDark focus:outline-none focus:border-appBrand transition duration-150 ease-in-out'
                            : 'inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-appBrandDark hover:text-appBrand hover:border-appBrand focus:outline-none focus:text-appBrand focus:border-appBrand transition duration-150 ease-in-out'
            }
        }
    }
</script>
