<template>
  <div class="app-layout-wrap">
    <div class="app-layout app-layout-new flex flex-wrap bg-gray-100">

      <!-- Sidebar -->
      <div class="app-layout-sidebar w-10/12 lg:w-64 fixed md:top-0 md:left-0 h-screen lg:block bg-gray-200 border-r border-gray-001 z-30 hidden">

        <div class="flex flex-col justify-between h-full overflow-y-auto">
          <div class="app-layout-sidebar-top">
            <div class="app-layout-sidebar-header w-full h-18 bg-gray-200 border-b border-gray-002 flex px-4 items-center mb-8">
              <app-logo />
            </div>

            <div class="app-layout-sidebar-content w-full flex px-4 mb-8">
              <nav class="app-layout-sidebar-nav w-full mb-8 text-blue-900 font-bold">
                nav
              </nav>
            </div>
          </div><!-- //.app-layout-sidebar-top -->

          <div class="app-layout-sidebar-bottom border-tx border-gray-001">
            bottom
          </div>
      </div>

    </div>
    <!-- // Sidebar -->

    <!-- Body -->
    <div class="app-main w-full bg-gray-100 pl-0 lg:pl-64 min-h-screen">
      <div class="app-main-header sticky top-0 z-40">
        <div class="w-full h-18 px-6 bg-gray-100 border-b border-gray-001 flex items-center justify-between">
          <h3 class="text-blue-900 font-bold">Main header</h3>
        </div>
      </div>

      <div class="app-main-content p-6 bg-gray-100 mb-20 h-xx overflow-x-hidden">
          <ToggleInput :value="isActive" bg-off="gray" @click="isActive = ! isActive"/>
          <ToggleInput label="sdasdd xxx" :value="isActive2" bg-off="red" @click="isActive2 = ! isActive2"/>
      </div>
    </div>
    <!-- // Body -->

  </div>
</div>
</template>

<script>
import AppLogo from '@/components/Logo';
import AppPagenav from '@/components/Pagenav';
import ToggleInput from '@/components/Form/Toggle';

export default {
  components: {
    AppLogo, AppPagenav, ToggleInput
  },

  data: () => ({
    isActive: true,
    isActive2: false,
  }),
}
</script>
