<template>
<!-- Wrapper -->
<div class="app-layout app-layout-app min-h-screen w-full overflow-x-hidden">
<div class="flex relative overflow-x-hidden">

<!-- Layout Content -->
<div class="layout-content w-full overflow-x-hidden">
<div class="min-h-screen flex">

<!-- Sidebar -->
<div class="app-sidebar-container bg-gray-700 fixed z-10 shadow-3xl" :class="sidebarClasses">
<div class="app-sidebar w-80 lg:w-72 min-h-screen flex flex-col justify-between">
<div class="app-sidebar-top">
<div class="app-sidebar-header h-16 p-2 relative bg-gray-800 flex items-center">
<div @click="showSidebar = false" class="w-8 bg-gray-900 flex justify-center items-center absolute top-0 right-0 h-full text-white lg:hidden">
<svg class="w-full p-2" fill="#fff" x="0px" y="0px" viewBox="0 0 496.096 496.096">
<path d="M259.41,247.998L493.754,13.654c3.123-3.124,3.123-8.188,0-11.312c-3.124-3.123-8.188-3.123-11.312,0L248.098,236.686
L13.754,2.342C10.576-0.727,5.512-0.639,2.442,2.539c-2.994,3.1-2.994,8.015,0,11.115l234.344,234.344L2.442,482.342
c-3.178,3.07-3.266,8.134-0.196,11.312s8.134,3.266,11.312,0.196c0.067-0.064,0.132-0.13,0.196-0.196L248.098,259.31
l234.344,234.344c3.178,3.07,8.242,2.982,11.312-0.196c2.995-3.1,2.995-8.016,0-11.116L259.41,247.998z"/>
</svg>
</div>
<app-logo />
</div>

<div class="app-sidebar-content mt-6">
app-sidebar-content
</div>
</div>

<div class="app-sidebar-bottom">
app-sidebar-footer
</div>
</div>
</div>
<!-- // Sidebar -->

<!-- Page Content -->
<main class="app-page-content relative w-full lg:pl-72">
<div @click.stop="closeSidebar" v-if="showSidebar" class="app-page-overlay w-full h-full items-center absolute"></div>
<div class="app-page-header w-full h-16 flex items-center px-4 lg:px-8  shadow-sm">
<div @click="showSidebar = true" class="w-10 h-full flex items-center justify-center mr-2 p-2 lg:hidden">
<svg x="0px" y="0px" viewBox="0 0 512 512" fill="#2c5282" class="w-full">
<g><path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667 S507.221,96,501.333,96z"/></g>
<g><path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667 c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"/></g>
<g><path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667 c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z"/></g>
</svg>
</div>
<h3 class="text-2xl font-bold text-blue2">Appointments</h3>
</div>
<div class="app-page-body-wrap w-full min-h-screen pt-32 pb-8 px-4 lg:px-8 h-screen" style="height: 2000px">
<slot></slot>
</div>
</main>

</div>
</div>
<!-- // Layout Content -->

</div>
</div>
<!-- // Wrapper -->
</template>

<script>
import AppLogo from '@/components/Logo';

export default {
  components: {
  AppLogo
  },

  data: () => ({
  showSidebar: false,
  }),

  mounted() {

  },

  computed: {
  sidebarClasses() {
    return {
    'app-sidebar-open': this.showSidebar,
    'app-sidebar-closed': !this.showSidebar,
    }
  }
  },

  methods: {
  closeSidebar() {
    this.showSidebar = false;
  }
  }
}
</script>

<style scoped>
.app-page-overlay {
  background: rgba(0,0,0,0.5);
}

.app-sidebar-container {
  transition: all .4s;
}

@media screen and (max-width: 1023px) {
  .app-sidebar-container {
  left: -102%;
  }

  .app-sidebar-container.app-sidebar-open {
  left: 0;
  }
}
</style>
