<template>
  <div class="app-layout app-layout-app min-h-screen w-screen overflow-x-hidden">
    <notifications position="top right" width="340px"/>
    <div class="flex relative overflow-x-hidden">

      <!-- Layout Content -->
      <div class="layout-content flex flex-col w-full overflow-x-hidden">
        <div class="min-h-screen bg-gray-100">
          <nav class="bg-white border-b border-gray-100 shadow">

            <!-- Primary Navigation Menu -->
            <div class="max-w-8xl w-auto mx-auto px-4 sm:px-6 lg:px-8">
              <div class="flex justify-between h-16">
                <div class="flex">

                  <!-- Logo -->
                  <div class="flex-shrink-0 flex items-center">
                    <button class="pointer" @click.prevent="goHome">
                      <!-- <app-logo class="block h-9 w-auto" /> -->
                      <img src="/img/thc-logo.png" class="block h-9 w-auto" />
                    </button>
                  </div>

                  <!-- Navigation Links -->
                  <div
                    v-if="$page.user.role === 'doctor' || $page.user.role === 'developer'"
                    class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                  >
                    <jet-nav-link
                      :href="route('appointments.calendar')" :active="$page.currentRouteName == 'appointments.calendar'"
                    >
                      Appointments
                    </jet-nav-link>
                    <jet-nav-link class="text-appBrandDark focus:border-appBrand" :href="route('appointments.availability')" :active="$page.currentRouteName == 'appointments.availability'">
                      Availability
                    </jet-nav-link>
                    <jet-nav-link class="text-appBrandDark focus:border-appBrand" :href="route('app.users.index')" :active="$page.currentRouteName == 'app.users.index'">
                      Users
                    </jet-nav-link>
                    <jet-nav-link class="text-appBrandDark focus:border-appBrand" :href="route('settings.edit')" :active="$page.currentRouteName == 'settings.edit'">
                      Settings
                    </jet-nav-link>
                  </div>

                  <div v-if="$page.user.role === 'user'" class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                    <jet-nav-link :href="route('appointments.book')" :active="$page.currentRouteName == 'appointments.book'">
                      {{ $tr('book_appointment') }}
                    </jet-nav-link>
                    <jet-nav-link :href="route('appointments.user')" :active="$page.currentRouteName == 'appointments.user'">
                      {{ $tr('my_appointments') }}
                    </jet-nav-link>
                  </div>
                </div>

                <!-- Settings Dropdown -->
                <div class="hidden sm:flex sm:items-center sm:ml-6">
                  <div class="ml-3 relative">
                    <jet-dropdown align="right" width="48">
                      <template #trigger>
                        <button v-if="$page.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">
                          <img class="h-8 w-8 rounded-full object-cover" :src="$page.user.profile_photo_url" :alt="$page.user.name" />
                        </button>

                        <button v-else
                          class="flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                          <div class="flex items-center" :size="12"><app-icon name="user" class="mr-2"/>{{ $page.user.name }}</div>

                          <div class="ml-1">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                          </div>
                        </button>
                      </template>

                      <template #content>
                        <!-- Account Management -->
                        <div class="block px-4 py-2 text-xs text-gray-400">
                          {{ $tr('manage_account') }}
                        </div>

                        <jet-dropdown-link :href="route('profile.show')">
                          {{ $tr("Profile") }}
                        </jet-dropdown-link>

                        <div class="border-t border-gray-100"></div>

                        <jet-dropdown-link @click.native.prevent="setLocale('en')" href="#">
                          <span class="flex items-center"><app-icon name="translate" class="mr-1" :size="14"/> English</span>
                        </jet-dropdown-link>

                        <jet-dropdown-link @click.native.prevent="setLocale('el')" href="#">
                          <span class="flex items-center"><app-icon name="translate" class="mr-1" :size="14"/> Ελληνικά</span>
                        </jet-dropdown-link>

                        <div class="border-t border-gray-100"></div>

                        <!-- Authentication -->
                        <form @submit.prevent="logout">
                          <jet-dropdown-link as="button"> {{ $tr('logout') }}</jet-dropdown-link>
                        </form>
                      </template>
                    </jet-dropdown>
                  </div>
                </div>

                <!-- Hamburger -->
                <div class="-mr-2 flex items-center sm:hidden">
                  <button
                    @click="showingNavigationDropdown = ! showingNavigationDropdown"
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <!-- Responsive Navigation Menu -->
            <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
              <div class="pt-2 pb-3 space-y-1">
                <jet-responsive-nav-link v-if="$page.user.role === 'user'" :href="route('appointments.book')" :active="$page.currentRouteName == 'appointments.book'">
                  {{ $tr('book_appointment') }}
                </jet-responsive-nav-link>

                <jet-responsive-nav-link v-if="$page.user.role === 'user'" :href="route('appointments.user')" :active="$page.currentRouteName == 'appointments.user'">
                 {{ $tr('my_appointments') }}
                </jet-responsive-nav-link>

                <jet-responsive-nav-link
                  v-if="$page.user.role === 'doctor' || $page.user.role === 'developer'" :href="route('appointments.calendar')" :active="$page.currentRouteName == 'appointments.calendar'">
                  Appointments
                </jet-responsive-nav-link>

                <jet-responsive-nav-link
                  v-if="$page.user.role === 'doctor' || $page.user.role === 'developer'" :href="route('appointments.availability')" :active="$page.currentRouteName == 'appointments.availability'">
                  Availability
                </jet-responsive-nav-link>

                <jet-responsive-nav-link
                  v-if="$page.user.role === 'doctor' || $page.user.role === 'developer'" :href="route('app.users.index')" :active="$page.currentRouteName == 'app.users.index'">
                  Users
                </jet-responsive-nav-link>

                <jet-responsive-nav-link
                  v-if="$page.user.role === 'doctor' || $page.user.role === 'developer'" :href="route('settings.edit')" :active="$page.currentRouteName == 'settings.edit'">
                  Settings
                </jet-responsive-nav-link>
              </div>

              <!-- Responsive Settings Options -->
              <div class="pt-4 pb-1 border-t border-gray-200">
                <div class="flex items-center px-4">
                  <div class="ml-3">
                    <div class="font-medium text-base text-gray-800">{{ $page.user.name }}</div>
                    <div class="font-medium text-sm text-gray-500">{{ $page.user.email }}</div>
                  </div>
                </div>

                <div class="mt-3 space-y-1">
                  <jet-responsive-nav-link :href="route('profile.show')" :active="$page.currentRouteName == 'profile.show'">
                  Profile
                </jet-responsive-nav-link>

                <jet-responsive-nav-link :href="route('api-tokens.index')" :active="$page.currentRouteName == 'api-tokens.index'" v-if="$page.jetstream.hasApiFeatures">
                  API Tokens
                </jet-responsive-nav-link>

                <jet-responsive-nav-link as="button" @click.native="setLocale('en')">
                  <span class="flex items-center"><app-icon name="translate" class="mr-1" :size="14"/> English</span>
                </jet-responsive-nav-link>

                <jet-responsive-nav-link as="button" @click.native="setLocale('el')">
                  <span class="flex items-center"><app-icon name="translate" class="mr-1" :size="14"/> Ελληνικά</span>
                </jet-responsive-nav-link>

                <!-- Authentication -->
                <form method="POST" @submit.prevent="logout">
                  <jet-responsive-nav-link as="button">
                  Logout
                  </jet-responsive-nav-link>
                </form>

                <!-- Team Management -->
                <template v-if="$page.jetstream.hasTeamFeatures">
                  <div class="border-t border-gray-200"></div>

                  <div class="block px-4 py-2 text-xs text-gray-400">Manage Team</div>

                  <!-- Team Settings -->
                  <jet-responsive-nav-link :href="route('teams.show', $page.user.current_team)" :active="$page.currentRouteName == 'teams.show'">
                    Team Settings
                  </jet-responsive-nav-link>

                  <jet-responsive-nav-link :href="route('teams.create')" :active="$page.currentRouteName == 'teams.create'">
                    Create New Team
                  </jet-responsive-nav-link>

                  <div class="border-t border-gray-200"></div>

                  <!-- Team Switcher -->
                  <div class="block px-4 py-2 text-xs text-gray-400">
                    Switch Teams
                  </div>

                  <template v-for="team in $page.user.all_teams">
                    <form @submit.prevent="switchToTeam(team)" :key="team.id">
                      <jet-responsive-nav-link as="button">
                        <div class="flex items-center">
                          <svg v-if="team.id == $page.user.current_team_id" class="mr-2 h-5 w-5 text-green-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          <div>{{ team.name }}</div>
                        </div>
                      </jet-responsive-nav-link>
                    </form>
                  </template>
                </template>
                </div>
              </div>
            </div>
          </nav>

          <!-- Page Heading -->
          <header class="app-page-nav bg-appBrandLight border-b border-gray-200 text-sm">
            <div class="py-4 px-4 sm:px-6 lg:px-12 max-w-8xl mx-auto">
              <slot name="header"></slot>
            </div>
          </header>

          <!-- Page Content -->
          <main class="app-main-page-content">
            <div class="app-main-page-content-wrap max-w-8xl w-auto mx-auto px-4 sm:px-6 lg:px-8 min-h-screen py-4">
              <slot></slot>
            </div>
          </main>

          <!-- Modal Portal -->
          <portal-target name="modal" multiple></portal-target>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JetApplicationLogo     from '@/Jetstream/ApplicationLogo'
import JetApplicationMark     from '@/Jetstream/ApplicationMark'
import JetDropdown            from '@/Jetstream/Dropdown'
import JetDropdownLink        from '@/Jetstream/DropdownLink'
import JetNavLink             from '@/Jetstream/NavLink'
import JetResponsiveNavLink   from '@/Jetstream/ResponsiveNavLink'
import AppLogo                from '@/components/Logo'
import AppIcon                from '@/components/Icon'

export default {
  components: {
    JetApplicationLogo,
    JetApplicationMark,
    JetDropdown,
    JetDropdownLink,
    JetNavLink,
    JetResponsiveNavLink,
    AppLogo,
    AppIcon
  },

  data() {
    return {
      showingNavigationDropdown: false,
      localeSet: false
    }
  },

  methods: {
    switchToTeam(team) {
      this.$inertia.put(route('current-team.update'), {
      'team_id': team.id
      }, {
        preserveState: false
      })
    },

    logout() {
      axios.post(route('logout').url()).then(response => {
        window.location = '/';
      })
    },

    setLocale(lang) {
      this.localeSet = true;
      axios.post('/app/users/setlocale', { locale: lang })
        .then(() => {
          localStorage.setItem('_thc_lang', lang);
          setTimeout(() => {
            window.location =window.location;
            return false;
          }, 333);
        });
    },

    goHome() {
      window.location.replace(route(this.$page.user.role === 'doctor' || $page.user.role === 'developer' ? 'appointments.calendar' : 'appointments.user').url(), true);
    }
  },

  computed: {
    path() {
      return window.location.pathname
    },
  }
}
</script>

<style scoped>
.app-body-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  z-index: 1;
}
</style>
